/*****************************************
	TEMPLATES_STYLES FOR
******************************************/

/* all common styles are in this file */
@import "css/common.scss";

/*** wrapper ***/

.mm_website_wrapper {
  padding-top: 80px;
  @include inherit;
  overflow-x: hidden;
  &.empty {
      padding: 0;
      background-color: #fff;
  }
}


/*** header ***/

#mm_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 25px;
  font-size: 0;
  color: $grey;
  background: white;
  box-shadow: 0 2px 15px rgba(0,0,0,0.4);
  z-index: 100;
}
.mm_header_logotype {
  @include iblock(middle);
  height: 100%;
  padding-left: 10px;
  color: $grey;
}
.mm_header_logotype__link {
  @include table;
  width: auto;
  text-decoration: none;
  @include upp;
  color: inherit;
  line-height: normal;
}
.mm_header_logotype__label,
.mm_header_logotype__desc {
  @include iblock(middle);
}
.mm_header_logotype__label {
  padding: 2px 25px 2px 0;
  font-size: 24px;
  font-weight: 500;
  border-right: 2px solid $red;
}
.mm_header_logotype__desc {
  padding-left: 25px;
  font-size: .9rem;
}

.mm_header_controls {
  position: absolute;
  top: 0;
  right: 0;
  @include table;
  width: auto;
  padding-right: 35px;
}
.mm_header_controls__button {
  @include iblock(middle);
  color: $grey;
  font-size: 1rem;
    &:not(:last-of-type) {
      margin-right: 35px;
    }
    a {
      @include link(auto);
      padding: 0 10px;
      @include inherit;
      @include upp;
      line-height: normal;
    }
}

/*** navigation ***/

.mm_navigation_button {
  @include iblock(middle);
  width: 65px;
  height: 100%;
  padding: 0 16px;
  @include align_c;
  background: white;
  border: 0;
  border-radius: 0;
  outline: 0;
}
.mm_navigation_button__bar {
  @include iblock(middle);
  width: 28px;
  height: 4px;
    &._grey {
      background: #cccccc;
    }
    &._blue {
      background: #008bf0;
    }
    &._red {
      background: $red;
    }
    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
}

#mm_navigation {
  position: fixed;
  top: 0;
  left: -310px;
  width: 310px;
  height: 100%;
  padding: 40px;
  background: white;
  z-index: 102;
  @include smooth(.3s);
}
.mm_navigation__link {
  @include link(auto);
  font-size: 1.2rem;
  font-weight: 400;
  color: $link;
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
}
.mm_navigation_close_button {
  position: absolute;
  top: 38px;
  right: 40px;
  width: 26px;
  height: 26px;
  @include align_c;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
}

.mm_nav_controls {
  display: none;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid $grey;
}
.mm_nav_controls__button {
  font-size: 1.2rem;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    a {
      @include link(auto);
    }
}

.mm_nav_overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(black, .7);
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  @include smooth(.3s);
}

/*** banner ***/

#mm_banner {
  position: relative;
}
.mm_banner__element {
  position: relative;
  overflow: hidden;
}

.mm_banner {
  position: relative;
  @include table;
  @include align_c;
  overflow: hidden;
    &._huge {
      height: 530px;
        .mm_banner__heading {
          font-size: 48px;
        }
    }
    &._short {
      height: 197px;
        .mm_banner__heading {
          font-size: 38px;
          font-weight: 400;
        }
        .mm_more_link {
          margin-top: 40px;
        }
    }
    .mm_table_cell {
      position: relative;
      z-index: 1;
    }
}
.mm_banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: zoOm 150s infinite linear;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(black, .3);
      z-index: 0;
    }
}
.mm_banner__heading {
  color: white;
  @include upp;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 1);
}
.mm_banner_features {
  margin: 45px 0 75px;
  font-size: 0;
  @include align_c;
}
.mm_banner_features__element {
  @include iblock(top);
    &:not(:last-of-type) {
      margin-right: 120px;
    }
    &._join {
      color: #00ffff;
    }
    &._vote {
      color: #ffff00;
    }
    &._influence {
      color: #00ff00;
    }
}
.mm_banner_features__icon {
  @include table;
  height: 77px;
}
.mm_banner_features__label {
  margin-top: 15px;
  font-size: 21px;
  @include upp;
  line-height: normal;
}

.mm_banner_stats {
  margin: 45px 0;
  font-size: 0;
  @include align_c;
}
.mm_banner_stats__element {
  @include iblock(top);
  color: white;
    &:not(:last-of-type) {
      margin-right: 90px;
    }
}
.mm_banner_stats__figure {
  font-size: 32px;
  font-weight: 400;
  color: inherit;
}
.mm_banner_stats__label {
  font-size: 1.1rem;
  font-weight: 400;
  color: inherit;
}

/*** vote element ***/

.mm_vote_element {
  position: relative;
  width: 360px;
  height: 412px;
  margin-bottom: 45px;
  background: white;
  box-shadow: 2px 4px 15px rgba(black, .3);
  @include smooth(.15s);
  overflow: hidden;
    &:hover {
      box-shadow: 1px 2px 8px rgba(black, .3);
        .mm_vote_element__image {
          img {
            transform: scale(1.05);
          }
        }
    }
    &._expired_soon {
      .mm_vote_element__summary {
        background: $orange;
        border-top-color: $orange;
      }
    }
    &._normal {
      .mm_vote_element__summary {
        background: $green;
        border-top-color: $green;
      }
    }
    &._completed {
      .mm_vote_element__summary {
        background: $dark_grey;
        border-top-color: $dark_grey;
      }
    }
    &._sketch {
      .mm_vote_element__summary {
        color: $color;
        background: transparent;
        border-top-color: $grey;
      }
    }

    &__edit {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 45px;
      height: 45px;
      z-index: 2;
        a {
          @include link(100%);
        }
    }
    &__image {
      width: 100%;
      height: 187px;
      margin: 0;
      overflow: hidden;
      img {
        max-height: 187px;
        @include smooth(.3s);
      }
    }
    &__link {
      @include link(auto);
    }
    &__content {
      height: 170px;
      padding: 15px 20px;
      overflow: hidden;
    }
    &__heading {
      margin-bottom: 5px;
      font-size: 1.15rem;
      font-weight: 400;
      color: $link;
      a {
        text-decoration: none;
      }
    }
    &__preview {
      font-size: .85rem;
      font-weight: 300;
      color: $color;
        p {
          @include inherit;
        }
    }
    &__summ {
      display: none!important;
      @include table;
      height: 48px;
      padding: 0 20px 15px;
      font-size: 18px;
      font-weight: 300;
        .icon,
        .label {
          @include td(middle);
        }
        .icon {
          width: 20px;
        }
        .label {
          padding-left: 10px;
          line-height: normal;
        }
    }
    &__summary {
      @include table;
      height: 55px;
      padding: 0 20px;
      color: white;
      border-top: 1px solid transparent;
        .estimated_time,
        .details {
          @include td(middle);
          font-size: 0;
          color: inherit;
        }
        .estimated_time {
          width: 170px;
        }
        .i {
          margin-right: 5px;
          vertical-align: middle;
        }
        span.value {
          @include iblock(middle);
          font-size: 1rem;
          color: inherit;
          line-height: normal;
        }
        .details {
          @include align_r;
        }
        .votes,
        .comments {
          @include iblock(middle);
          font-size: 0;
          color: inherit;
          @include align_l;
        }
        .comments {
          margin-left: 30px;
        }
    }
}

/*** news list ***/

.mm_news_element {
  position: relative;
  width: 360px;
  height: 305px;
  margin-bottom: 45px;
  padding: 25px 20px 45px;
  background: white;
  box-shadow: 2px 4px 15px rgba(black, .3);
  @include smooth(.15s);
    &:hover {
      box-shadow: 1px 2px 8px rgba(black, .3);
    }

    &__date {
      margin-bottom: 20px;
      font-size: .85rem;
      color: $color;
      line-height: normal;
    }
    &__link {
      margin-bottom: 10px;
      font-size: 1.15rem;
      font-weight: 400;
      color: $link;
      a {
        text-decoration: none;
      }
    }
    &__preview {
      font-size: .9rem;
      font-weight: 300;
      p {
        @include inherit;
      }
    }
    &__share {
      position: absolute;
      bottom: 0;
      left: 0;
      @include table;
      height: 45px;
      padding: 0 20px;
      background: #f2f2f2;
      z-index: 1;
      .label,
      .mm_social_networks {
        @include td(middle);
      }
      .label {
        width: 90px;
        font-size: .85rem;
        font-weight: 400;
        line-height: normal;
      }
    }
}

/*** share ***/

.mm_share {
  padding-bottom: 50px;
  font-size: 0;
  @include align_c;
}
.mm_share__label,
.mm_share__socials {
  @include iblock(middle);
}
.mm_share__label {
  margin-right: 40px;
  @include align_l;
}
.mm_share__heading {
  font-size: 24px;
  font-weight: 300;
  @include upp;
    .value {
      display: block;
    }
}

/*** footer ***/

#mm_footer {
  padding: 65px 0;
  background: white;
  /*
  .mm_list {
    justify-content: space-between;
  }
  */
}
.mm_footer__section {
  font-size: .8rem;
    > *:last-child {
      margin-bottom: 0;
    }
    &._developers {
      width: 250px;
    }
    &._operator {
      width: 210px;
    }
    &._support {
      width: 340px;
    }
    &._logo {
      width: 260px;
        a {
          color: $color;
          font-size: 1rem;
          text-decoration: none;
            &:hover {
              ._title {
                text-decoration: underline;
              }
            }
            ._img {
              width: 45px;
            }
            ._title {
              padding-left: 10px;
              @include align_l;
            }
        }
        img {
          max-height: 55px;
        }
    }
    a, p {
      font-size: inherit;
    }
}

/*** stats bar ***/

.mm_stats_bar {
  padding: 15px 0;
  background: #ebebeb;

}
.mm_stats_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mm_stats_list__element {
  font-size: 0;
    .label,
    .figure {
      @include iblock(middle);
      line-height: normal;
    }
    .label {
      font-size: 1rem;
      font-weight: 400;
    }
    .figure {
      padding-left: 5px;
      font-size: 1.2rem;
      font-weight: 500;
    }
}

/*** filter ***/

.mm_filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  margin: 50px 0;
  padding: 20px 25px;
  background: white;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
    &__element {
      font-size: 0;
      .mm_control,
      .mm_dropdown {
        &:not(:last-of-type) {
          margin-right: 35px;
        }
      }
    }
}
.mm_applied_filter {
  @include table;
  height: auto;
  margin-top: 50px;
    &__label,
    &__value {
      @include td(top);
    }
    &__label {
      width: 125px;
      font-size: 1rem;
      font-weight: 300;
    }
    &__value {
      padding-left: 15px;
      font-size: 0;
        .mm_applied_filter_element {
          margin-bottom: 10px;
            &:not(:last-of-type) {
              margin-right: 30px;
            }
        }
    }
}
.mm_applied_filter_element {
  position: relative;
  @include iblock(top);
  color: white;
  font-size: 1rem;
  font-weight: 300;
  background: $link;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
    &__link {
      @include table;
      padding: 8px 0;
      @include inherit;
      text-decoration: none;
    }
    &__label,
    &__remove {
      @include td(middle);
    }
    &__label {
      padding-left: 20px;
      @include inherit;
      @include align_l;
    }
    &__remove {
      width: 37px;
      @include align_c;
    }
}
.mm_chosen_filters {
  font-size: 0;
    .mm_applied_filter_element {
      margin: 0 30px 10px 0;
    }
}

/*** narrow ***/

.mm_page {
  position: relative;
  margin: 0 auto 75px;
  padding: 35px 50px;
  background: white;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
    &._narrow {
      max-width: 820px;
    }
    > *:last-child {
      margin-bottom: 0;
    }
    h1, .h1,
    h2, .h2 {
      margin-bottom: 20px;
    }
    h3, .h3,
    h4, .h4 {
      margin-bottom: 15px;
    }
    h5, .h5,
    h6, .h6 {
      margin-bottom: 10px;
    }
}

.empty {
  .mm_page {
    margin: 0px;
    padding: 0px;
    box-shadow:none;
  }
}

.mm_back {
  position: absolute;
  top: 35px;
  right: 50px;
  z-index: 2;
    &__link {
      @include link(auto);
    }
}

/*** breadcrumbs ***/

.mm_breadcrumbs {
  margin-bottom: 30px;
  padding-right: 25px;
  font-size: 0;
    &__element {
      position: relative;
      @include iblock(top);
      font-size: 12px;
      color: $color;
        &:not(:last-of-type) {
          margin-right: 20px;
            &::before {
              content: '\2192';
              position: absolute;
              top: 0;
              right: -19px;
              display: block;
              width: 15px;
              font-size: inherit;
              font-weight: 600;
              color: $color;
              box-sizing: border-box;
            }
        }
    }
    &__link {
      @include link(auto);
      max-width: 325px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
}

.mm_vote_label {
  @include iblock(top);
  margin-left: -50px;
  margin-bottom: 35px;
  padding: 10px 30px 10px 50px;
  font-size: 0;
  color: white;
    &__icon,
    &__value {
      @include iblock(top);
    }
    &__icon {
      margin-right: 10px;
    }
    &__value {
      font-size: 1rem;
      color: inherit;
    }

    &._expired_soon {
      background: $orange;
    }
    &._normal {
      background: $green;
    }
    &._completed {
      background: $dark_grey;
    }
}
.mm_narrow__heading {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 400;
}

/*** auth ***/

.mm_forgot_password {
  @include iblock(middle);
  font-size: .9rem;
  text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
}

/*** profile ***/

.mm_add_vote {
  position: absolute;
  top: 0;
  right: 0;
  @include iblock(top);
}

/*** vote detail ***/

.mm_vote_props {
  margin: 40px 0;
  font-size: .9rem;
  color: $color;
    &__prop {
      @include inherit;
        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
    }
    a {
      text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
    }
}
.mm_vote_preview_text,
.mm_vote_full_text {
  @include inherit;
}
.mm_vote_full_text {
  display: none;
  padding-top: 30px;
}
.mm_vote_more {
  margin-top: 20px;
  font-size: 1rem;
    &__link {
      @include iblock(top);
      text-decoration: none;
      border-bottom: 1px dashed transparent;
        &:hover {
          border-bottom-color: $link;
        }
    }
}
.mm_image {
  margin: 30px 0;
  @include align_c;
    &__caption {
      max-width: 310px;
      margin: 10px auto 0;
      font-size: .9rem;
      font-weight: 300;
      font-style: italic;
    }
}
.amberpopup {
  .mm_expert_grade {
      &__element {
          &_image {
            float: left;
            margin-right: 20px;
          }
      }
  }
}
.mm_expert_grade {
  margin: 45px 0;
  font-size: 0;
  border-bottom: 1px solid $grey;
    &__heading {
      margin-bottom: 20px!important;
      font-size: 1.3rem;
    }
    &__element {
      position: relative;
      @include iblock(top);
      width: 200px;
      margin-bottom: 45px;
      cursor: pointer;
      @include align_c;
        &_image {
          width: 93px;
          height: 93px;
          margin: 0 auto 10px;
          border: 1px solid $grey;
          @include round;
          overflow: hidden;
            img {
              @include round;
            }
        }
        &_name {
          margin-bottom: 10px;
          font-size: 1.15rem;
          color: $link;
        }
        &_speciality {
          font-size: .85rem;
          font-style: italic;
        }
        &_vote {
          position: absolute;
          top: 8px;
          right: 0;
          @include iblock(top);
          padding: 2px 8px;
          font-size: .8rem;
          color: white;
          @include upp;
          line-height: 1;
            &._for {
              background: $to;
            }
            &._against {
              background: $orange;
            }
        }
        &_remove {
          margin-top: 20px;
          @include align_c;
            a {
              @include iblock(top);
              text-decoration: none;
            }
        }
        &_desc {
          position: absolute;
          right: 0px;
          top: 24px;
          min-width: 200px;
          text-align: left;
          padding-left: 25px;
          display: table-cell;
          vertical-align: top;
          /* display: none; */
          visibility: hidden;
          z-index: 10;
        }

        &:not(:nth-of-type(4n)) {
          margin-right: 60px;
        }
        &:last-of-type {
          margin-right: 0;
        }
    }
}
.amberpopup {
  .mm_expert_grade {
      &__element {
          &_image {
            float: left;
            margin-right: 20px;
          }
      }
  }
}
.mm_expert_list {
  width: 100%;
    &__element {
      @include table;
      margin-bottom: 50px;
    }
    &__expert,
    &__desc {
      @include td(top);
    }
    &__expert {
      width: 140px;
      .mm_expert_grade__element {
        margin: 0;
      }
    }
    &__desc {
      padding-left: 25px;
        .controls {
          margin-top: 25px;
          font-size: 0;
            .mm_default_button:not(:last-child) {
              margin-right: 25px;
            }
        }
    }
}
.mm_kinda_textarea {
  padding: 10px 5px 10px 10px;
  font-size: .9rem;
  font-weight: 300;
  font-style: italic;
  background: $yellow;
  border: 1px solid $link;
    &__inside {
      height: 155px;
      overflow: hidden;
    }
}

.mm_vote_choice {
  margin: 45px 0;
  font-size: 0;
  border-bottom: 1px solid $grey;
    &__heading {
      font-size: 28px;
      @include align_c;
    }
    &__options {
      margin: 40px 0;
        .mm_vote_option {
          &:not(:last-of-type) {
            margin-right: 30px;
          }
        }
        .mm_more_link {
          margin-top: 45px;
        }
    }
    &__item {
      font-size: 1rem;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
}
.mm_vote_reiceved_message {
  padding: 40px 0 30px;
  font-size: 24px;
  font-weight: 300;
  @include align_c;
  @include upp;
}
.mm_vote_option {
  @include iblock(top);
  width: 225px;
  @include align_l;
    &._for {
      .mm_vote_option__icon {
        background: $green;
          &::before {
            border-color: $green;
          }
      }
      .mm_vote_option__value {
        color: $green;
      }
    }
    &._against {
      .mm_vote_option__icon {
        background: $orange;
          &::before {
            border-color: $orange;
          }
      }
      .mm_vote_option__value {
        color: $orange;
      }
    }
    &:hover {
      .mm_vote_option__icon {
        .i {
          opacity: 1;
        }
      }
    }
    &__label {
      position: relative;
      @include table;
      padding: 10px;
      cursor: pointer;
    }
    &__input {
      display: none;
        &:checked {
          + .mm_vote_option__icon {
              &::before {
                border-width: 1px;
              }
              .i {
                opacity: 1;
              }
          }
        }
    }
    &__icon,
    &__value {
      @include td(middle);
    }
    &__icon {
      width: 58px;
      height: 58px;
      @include align_c;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          border: 0 solid transparent;
        }
        .i {
          opacity: .5;
          @include smooth(.2s);
        }
    }
    &__value {
      padding-left: 15px;
      font-size: 26px;
      @include upp;
      line-height: normal;
    }
}
.mm_vote_stats {
    display: block;
    vertical-align: top;
    margin-bottom: 40px;

    &:not(:last-of-type) {
      margin-right: 130px;
    }
    &._for {
      color: $green;
    }
    &._against {
      color: $orange;
    }
    &__percent {
      font-size: 3.5rem;
      font-weight: 500;
      color: inherit;
      line-height: normal;
      color: $green;
    }
    &__label {
      margin-top: 5px;
      color: inherit;
        > span {
          display: block;
        }
        .label {
          font-size: 1.15rem;
        }
        .vote {
          font-size: 1.6rem;
          @include upp;
        }
    }
}
.mm_vote_controls {
  display: flex;
  margin: 45px 0 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*** file link ***/

.mm_files {
  margin: 40px 0;
  color: $link;
    &__link {
      @include table;
      width: auto;
      text-decoration: none;
        &:not(:last-of-type) {
          margin-bottom: 25px;
        }
    }
    &__icon,
    &__value {
      @include td(top);
    }
    &__remove {
      @include td(top);
    }
    &__icon {
      width: 26px;
    }
    &__value {
      padding: 3px 0 0 10px;
    }
    &__remove {
      padding: 2px 0 0 15px;
        .i {
          vertical-align: middle;
        }
    }
}
.mm_add_files {
  display: none;
}

/*** vote add ***/

.mm_vote_add_controls {
  margin-bottom: 40px;
  font-size: 0;
    &__control {
      @include iblock(top);
        &:not(:last-of-type) {
          margin-right: 35px;
        }
    }
}
.mm_vote_add_section {
  color: $color;
  font-size: 1rem;
    &:not(:last-of-type) {
      margin-bottom: 75px;
    }

    &__header {
      margin-bottom: 25px;
        .heading {
          position: relative;
          @include iblock(top);
          margin-bottom: 0!important;
          padding-right: 30px;
          font-size: 1.3rem;
            .prompt {
              position: absolute;
              top: 3px;
              right: 0;
              width: 25px;
              @include align_r;
              line-height: 1;
            }
        }
    }
    .mm_dropdown,
    .mm_chosen_filters {
      margin-top: 20px;
    }
}

.mm_wysiwyg_section {
  width: 100%;
  margin-top: 20px;
  background: $yellow;
  border: 1px solid $link;
    &._preview {
      height: 230px;
    }
    &._full {
      height: 350px;;
    }
}

/*** wysiwyg ***/

.trumbowyg-box {
  border: 0;
}
.trumbowyg-editor {
  padding: 10px;
}
.trumbowyg-button-pane {
  margin-bottom: 15px;
  padding: 0;
  border: 1px solid $link;
}

/*** news detail ***/

.mm_news_date {
  margin: 30px 0;
  font-size: .9rem;
  font-weight: 600;
}
.mm__detail_share {
  margin-top: 40px;
  padding-top: 40px;
  @include align_r;
  border-top: 1px solid $grey;
}

/*** 404 ***/

.mm_not_found {
  padding-bottom: 35px;
  @include align_c;
    &__heading {
      font-size: 10rem;
      font-weight: 400;
      line-height: 1;
    }
    &__sub {
      font-size: 1.4rem;
      font-weight: 400;
      @include upp;
    }
    &__text {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    &__start {
      margin-top: 35px;
    }
}

/*** 404 ***/
.errortext
{
  color:red;
}

.notetext
{
  color:$color;
}

/* soc net ico */
div.bx-auth-serv-icons i,
div.bx-auth-serv-icons button
{
    width: 24px;
    height: 24px;
    
    border: 0;
    outline: 0;

    display: inline-block;
    vertical-align: inherit;
    background: transparent url(images/sprite.png) no-repeat;

    &.vkontakte {background-position: 0 -142px;}
    &.facebook {background-position: -28px -142px;}
    &.odnoklassniki {background-position: -56px -142px;}
    &.twitter {background-position: -84px -142px;}

}

/* modal */
#mm_iframe__container {
  padding: 30px 0px 0px 0px;
}

/* captcha */
.captcha_reload{
    border: 1px solid transparent;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
    border-radius: 25px;
    background: #383838 url("images/icons_wish.png") repeat scroll -63px -78px;
  }


/**** URGENT MESSAGES ****/
.urgent_messages_wrp {

  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  padding: 10px 0;
  background: #f8e948;
  z-index:10;
  display: none;

  .line {
    position: relative;
    margin: 0 auto;

    .mm_modal__close {
      position: absolute;
      top: 6px;
      right: 10px;
      width: 20px;
      height: 20px;
      z-index: 2;
    }
  }
  .title,
  .title .value,
  .message_wrp {
    display: inline-block;
    vertical-align: middle;
  }
  .title {
    width: 175px;
    margin-right: 35px;

    .icon {
      width: 40px;
      display: inline-block;
      vertical-align: middle;
    }
    .value {
      padding-left: 10px;
    }
  }
  .message_wrp {
    color: #000;
    text-align: center;
    overflow: hidden;

    #message {
      padding: 0 15px;
      color: #000;
      font-size: 1.3em;
      font-family: "PT Sans", sans-serif;
    }
  }

  h4 {
    margin: 0;
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
  }
}
/*****************************************
	TEMPLATES_STYLES FOR
******************************************/
