/*****************************************
	TEMPLATES_STYLES FOR
******************************************/
/* all common styles are in this file */
/* all variables and mixins are in this file */
/*
  Variables
*/
/*
  Mixins
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html,
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  margin: 0 auto;
  background: #f7f7f7; }

html {
  font-size: 16px; }

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #333333;
  line-height: 1.3; }
  body._hidden {
    overflow-x: hidden; }
  body._noscroll {
    overflow: hidden; }
  body._nav_is_open {
    height: 100%;
    overflow: hidden; }
    body._nav_is_open .mm_nav_overlay {
      visibility: visible;
      opacity: 1; }
    body._nav_is_open #mm_navigation {
      left: 0; }

/*
	Set font selection according to the website color scheme
*/
*::selection {
  background: #333333;
  color: white; }

*::-moz-selection {
  background: #333333;
  color: white; }

/*** scrollbar in -webkit- browsers ***/
::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar {
  width: 6px;
  background-color: #f7f7f7; }

::-webkit-scrollbar-thumb {
  background-color: #333333; }

.fix::before, .fix::after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  visibility: hidden;
  clear: both; }

._hide,
._none {
  display: none !important;
  visibility: hidden !important; }

._noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

/*
  Headings
*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500; }

h1, .h1 {
  font-size: 2.3rem; }

h2, .h2 {
  font-size: 2.1rem; }

h3, .h3 {
  font-size: 1.8rem; }

h4, .h4 {
  font-size: 1.6rem; }

h5, .h5 {
  font-size: 1.4rem; }

h6, .h6 {
  font-size: 1.2rem; }

a {
  color: #0071bc;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

p {
  margin: 0;
  font-size: 1rem;
  line-height: inherit; }
  p:not(:last-of-type) {
    margin-bottom: 10px; }

ul,
ol {
  margin: 20px 0; }
  ul li,
  ol li {
    position: relative; }
    ul li:not(:last-of-type),
    ol li:not(:last-of-type) {
      margin-bottom: 15px; }

ul {
  list-style: none; }
  ul li {
    padding-left: 20px; }
    ul li::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      display: block;
      width: 10px;
      height: 1px;
      background: #333333; }

ol {
  padding-left: 15px; }

blockquote {
  margin: 30px 0;
  padding-left: 60px;
  font-size: 1.15rem;
  font-weight: 300;
  font-style: italic; }

._align_l {
  text-align: left; }

._align_c {
  text-align: center; }

._align_r {
  text-align: right; }

._align_j {
  text-align: justify; }

._bold {
  font-weight: bold; }

._upp {
  text-transform: uppercase; }

img {
  display: inline-block;
  vertical-align: top;
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0; }

.i {
  display: inline-block;
  vertical-align: inherit;
  background: url(images/sprite.png) no-repeat; }
  .i._join {
    width: 104px;
    height: 63px;
    background-position: 0 0; }
  .i._vote {
    width: 77px;
    height: 68px;
    background-position: -108px 0; }
  .i._influence {
    width: 142px;
    height: 77px;
    background-position: -189px 0; }
  .i._calc {
    width: 18px;
    height: 24px;
    background-position: -335px 0; }
  .i._clock {
    width: 17px;
    height: 17px;
    background-position: -357px 0; }
  .i._votes {
    width: 17px;
    height: 17px;
    background-position: -378px 0; }
  .i._comments {
    width: 19px;
    height: 17px;
    background-position: -399px 0; }
  .i._vk_small {
    width: 24px;
    height: 24px;
    background-position: 0 -142px; }
  .i._fb_small {
    width: 24px;
    height: 24px;
    background-position: -28px -142px; }
  .i._ok_small {
    width: 24px;
    height: 24px;
    background-position: -56px -142px; }
  .i._tw_small {
    width: 24px;
    height: 24px;
    background-position: -84px -142px; }
  .i._tg_small {
    width: 24px;
    height: 24px;
    background-position: -112px -142px; }
  .i._vk_big {
    width: 60px;
    height: 60px;
    background-position: 0 -80px; }
  .i._fb_big {
    width: 60px;
    height: 60px;
    background-position: -64px -80px; }
  .i._ok_big {
    width: 60px;
    height: 60px;
    background-position: -128px -80px; }
  .i._tw_big {
    width: 60px;
    height: 60px;
    background-position: -193px -80px; }
  .i._tg_big {
    width: 60px;
    height: 60px;
    background-position: -257px -80px; }
  .i._cross {
    width: 19px;
    height: 19px;
    background-position: -335px -29px; }
  .i._remove {
    width: 9px;
    height: 9px;
    background-position: -370px -29px; }
  .i._calendar {
    width: 26px;
    height: 27px;
    background-position: -335px -50px; }
  .i._plus {
    width: 13px;
    height: 13px;
    background-position: -382px -29px; }
  .i._edit {
    width: 45px;
    height: 45px;
    background-position: -321px -80px; }
  .i._link_back {
    width: 18px;
    height: 15px;
    background-position: -393px -51px; }
  .i._file {
    width: 26px;
    height: 26px;
    background-position: -368px -80px; }
  .i._for {
    width: 34px;
    height: 34px;
    background-position: -369px -109px; }
  .i._against {
    width: 26px;
    height: 26px;
    background-position: -391px -80px; }
  .i._share {
    width: 19px;
    height: 19px;
    background-position: -367px -145px; }
  .i._checked {
    width: 28px;
    height: 26px;
    background-position: -366px -166px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 2px transparent solid;
    padding: 9px;
    transition: all 0.5s linear; }
    .i._checked:hover {
      border-color: #ff0000; }

span.value {
  color: inherit;
  font-size: inherit; }

.mm_table {
  display: table;
  width: 100%;
  height: 100%; }

.mm_table_cell {
  display: table-cell;
  vertical-align: initial; }
  .mm_table_cell._top {
    vertical-align: top; }
  .mm_table_cell._middle {
    vertical-align: middle; }
  .mm_table_cell._bottom {
    vertical-align: bottom; }

.mm_select select {
  display: block;
  width: 100%;
  height: 100%;
  outline: 0; }
  .mm_select select:disabled + .jq-selectbox__select {
    background: #f9f9f9;
    border-color: #cdcdcd; }
    .mm_select select:disabled + .jq-selectbox__select .jq-selectbox__trigger-arrow {
      border-top-color: #cdcdcd; }

.mm_select .jq-selectbox {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .mm_select .jq-selectbox.opened .jq-selectbox__trigger-arrow {
    transform: rotate(-180deg); }

.mm_select .jq-selectbox__select-text {
  display: block;
  width: 100%;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.mm_select .jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: transparent; }

.mm_select .jq-selectbox__trigger-arrow {
  position: absolute;
  transition: transform .2s linear; }

.mm_select .jq-selectbox__dropdown {
  width: 100%;
  margin: 0;
  padding: 0; }
  .mm_select .jq-selectbox__dropdown ul {
    width: 100%; }
    .mm_select .jq-selectbox__dropdown ul li {
      padding-left: 0; }
      .mm_select .jq-selectbox__dropdown ul li:not(:last-of-type) {
        margin-bottom: 0; }
      .mm_select .jq-selectbox__dropdown ul li::before {
        display: none; }
      .mm_select .jq-selectbox__dropdown ul li a {
        display: block;
        height: auto;
        text-decoration: none;
        transition: color .3s linear; }

.mm_select .jq-selectbox__search {
  display: none; }
  .mm_select .jq-selectbox__search input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: 3px solid; }

.mm_select .jq-selectbox__not-found {
  padding: 5px 10px; }

.mm_select._type_1 .jq-selectbox__select {
  height: 43px;
  background: #ffffdb;
  border: 1px solid #0071bc; }

.mm_select._type_1 .jq-selectbox__select-text {
  padding: 0 50px 0 15px;
  line-height: 41px; }

.mm_select._type_1 .jq-selectbox__trigger {
  width: 43px; }

.mm_select._type_1 .jq-selectbox__trigger-arrow {
  top: 17px;
  right: 15px;
  width: 9px;
  height: 6px; }

.mm_select._type_1 .jq-selectbox .jq-selectbox__trigger-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: #0071bc transparent transparent transparent; }

.mm_select._type_1 .jq-selectbox__dropdown {
  top: 45px;
  min-width: 100%; }
  .mm_select._type_1 .jq-selectbox__dropdown ul {
    padding: 1px;
    background: white;
    border: 1px solid #0071bc; }
    .mm_select._type_1 .jq-selectbox__dropdown ul li {
      padding: 10px 15px; }
      .mm_select._type_1 .jq-selectbox__dropdown ul li:hover {
        color: white;
        background: #0071bc; }
      .mm_select._type_1 .jq-selectbox__dropdown ul li:not(:last-child) {
        margin-bottom: 5px; }

.mm_input input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]) {
  display: block;
  width: 100%;
  height: 43px;
  padding: 0 15px;
  font-weight: 300;
  color: #333333;
  font-size: 1rem;
  background: #ffffdb;
  border: 1px solid #0071bc;
  box-shadow: none;
  outline: 0;
  resize: none; }

.mm_input textarea {
  display: block;
  width: 100%;
  height: 160px;
  padding: 15px;
  font-weight: 300;
  color: #333333;
  font-size: 1rem;
  background: #ffffdb;
  border: 1px solid #0071bc;
  box-shadow: none;
  outline: 0;
  resize: none; }
  .mm_input textarea:invalid {
    border-color: #ff0000; }

.mm_input input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):disabled, .mm_input input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):read-only,
.mm_input textarea:disabled,
.mm_input textarea:read-only {
  background: #f9f9f9;
  border-color: #cdcdcd; }

.mm_input._date {
  position: relative; }
  .mm_input._date input {
    padding-right: 45px !important; }
    .mm_input._date input:disabled + .mm_date {
      pointer-events: none; }
      .mm_input._date input:disabled + .mm_date .i._calendar {
        background-position: -363px -50px; }

.mm_input_captcha {
  width: 150px !important;
  display: inline-block !important;
  margin-left: 3px; }

.mm_date {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 26px;
  height: 27px;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: 0; }

.mm_question {
  font-size: 1.1rem;
  font-weight: 400;
  color: #0071bc;
  text-decoration: none;
  line-height: normal; }

/*** mm default button ***/
.mm_default_button {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: auto;
  padding: 6px 20px;
  font-family: "Rubik", sans-serif;
  font-size: 1.15rem;
  font-weight: 300;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: normal;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  outline: 0;
  transition: all 0.15s linear;
  border-color: white; }
  .mm_default_button span:not(:last-child) {
    margin-right: 6px; }
  .mm_default_button span.i {
    vertical-align: middle; }
  .mm_default_button span.value {
    display: inline-block;
    vertical-align: middle; }
  .mm_default_button:hover {
    color: #333333;
    background: white; }
  .mm_default_button._blue {
    color: #0071bc;
    border-color: #0071bc; }
    .mm_default_button._blue._active, .mm_default_button._blue:hover {
      color: white;
      background: #0071bc; }
      .mm_default_button._blue._active .i._plus, .mm_default_button._blue:hover .i._plus {
        background-position: -397px -29px; }
      .mm_default_button._blue._active .i._share, .mm_default_button._blue:hover .i._share {
        background-position: -388px -145px; }
  .mm_default_button._disabled, .mm_default_button:disabled {
    border-color: #cdcdcd;
    color: #cdcdcd;
    cursor: not-allowed;
    pointer-events: none; }
  .mm_default_button:not(:last-child) {
    margin-right: 30px; }

/*** more link ***/
.mm_more_link {
  width: 100%;
  text-align: center; }
  .mm_more_link._type_1 {
    margin-top: 15px; }
  .mm_more_link._type_2 {
    margin-top: 55px; }

/*** section ***/
.mm_section {
  position: relative;
  padding: 50px 0; }

.mm_section__header {
  margin-bottom: 30px; }
  .mm_section__header .heading {
    font-size: 42px;
    font-weight: 300;
    color: #0071bc;
    text-transform: uppercase;
    line-height: normal; }

.empty .mm_section {
  padding: 0; }

/*** list ***/
.mm_list {
  display: flex;
  /*justify-content: flex-start;*/
  /*justify-content: space-between;*/
  justify-content: space-evenly;
  flex-wrap: wrap;
  /*
  .mm_news_element:not(:nth-of-type(3n)),
  .mm_vote_element:not(:nth-of-type(3n)) {
    margin-right: 45px;
  }
  .mm_news_element:last-of-type,
  .mm_vote_element:last-of-type {
    margin-right: 0;
  }
  */ }

.mm_controls_list {
  margin-top: 15px;
  font-size: 0; }
  .mm_controls_list__element {
    display: inline-block;
    vertical-align: top; }
    .mm_controls_list__element:not(:last-of-type) {
      margin-right: 30px; }

/*** social networks ***/
.mm_social_networks {
  font-size: 0;
  text-align: right; }
  .mm_social_networks._type_1 .mm_social_networks__element {
    width: 60px;
    height: 60px; }
    .mm_social_networks._type_1 .mm_social_networks__element:not(:last-of-type) {
      margin-right: 35px; }
  .mm_social_networks._type_2 .mm_social_networks__element {
    width: 24px;
    height: 24px; }
    .mm_social_networks._type_2 .mm_social_networks__element:not(:last-of-type) {
      margin-right: 15px; }

.mm_social_networks__element {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%; }
  .mm_social_networks__element a {
    display: table;
    width: 100%;
    height: 100%; }

/*** workarea ***/
#mm_workarea {
  padding-top: 50px;
  font-size: 1rem;
  color: #333333; }

.empty #mm_workarea {
  padding: 0; }

/*** page header ***/
.mm_page_header {
  width: 100%; }

.mm_page_heading {
  font-size: 42px;
  font-weight: 300;
  text-transform: uppercase; }

/*** conctrol ***/
.mm_control {
  display: inline-block;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .mm_control label {
    cursor: pointer; }
  .mm_control input {
    display: none; }
    .mm_control input:checked + .value {
      color: white;
      background: #0071bc; }
  .mm_control .value {
    display: inline-block;
    vertical-align: top;
    height: 27px;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 300;
    color: #0071bc;
    text-align: center;
    text-transform: uppercase;
    line-height: 27px;
    background: transparent;
    border: 1px solid #0071bc;
    transition: all 0.15s linear; }

/*** checkbox ***/
.mm_checkbox {
  display: inline-block;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .mm_checkbox label {
    cursor: pointer; }
  .mm_checkbox input {
    display: none; }
    .mm_checkbox input:checked + .mm_checkbox__value .mm_checkbox_button::before {
      opacity: 1; }
  .mm_checkbox__value {
    display: table;
    width: 100%;
    height: 100%;
    width: auto; }
  .mm_checkbox__icon, .mm_checkbox__label {
    display: table-cell;
    vertical-align: top; }
  .mm_checkbox__icon {
    width: 15px;
    padding-top: 2px; }
  .mm_checkbox__label {
    padding-left: 15px;
    font-size: 1rem;
    font-weight: 400;
    color: #0071bc;
    line-height: normal;
    text-transform: none; }

.mm_checkbox_button {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #0071bc; }
  .mm_checkbox_button::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    display: block;
    width: 9px;
    height: 9px;
    opacity: 0;
    background: url(images/sprite.png) no-repeat -358px -30px;
    transition: all 0.15s linear; }

/*** dropdown ***/
.mm_dropdown {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #333333;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase; }
  .mm_dropdown._active .mm_dropdown__link::before {
    transform: rotate(-180deg); }
  .mm_dropdown._active .mm_dropdown_window {
    top: 100%;
    visibility: visible;
    opacity: 1; }
  .mm_dropdown._active .mm_dropdown__overlay {
    opacity: 1;
    visibility: visible; }
  .mm_dropdown__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 27px;
    padding-right: 20px;
    text-decoration: none;
    line-height: 27px; }
    .mm_dropdown__link::before {
      content: '';
      position: absolute;
      top: 9px;
      right: 0;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 6px 0 6px;
      border-color: #0071bc transparent transparent transparent;
      transition: all 0.2s linear; }
  .mm_dropdown__overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    z-index: 101;
    transition: all 0.3s linear; }
  .mm_dropdown._left .mm_dropdown_window {
    right: auto;
    left: 0; }

.mm_dropdown_window {
  position: absolute;
  top: 110%;
  right: 0;
  width: 355px;
  margin-top: 10px;
  padding: 25px;
  text-align: left;
  background: white;
  visibility: hidden;
  opacity: 0;
  z-index: 102;
  transition: all 0.3s linear; }
  .mm_dropdown_window__close {
    position: absolute;
    top: 24px;
    right: 25px;
    width: 36px;
    height: 36px; }
    .mm_dropdown_window__close a {
      display: block;
      height: 100%;
      text-decoration: none; }
  .mm_dropdown_window__heading {
    margin-bottom: 30px;
    padding-right: 25px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase; }
  .mm_dropdown_window__container {
    height: 200px;
    font-size: 1rem;
    overflow: hidden; }
  .mm_dropdown_window__element:not(:last-of-type) {
    margin-bottom: 30px; }

/*** tabs ***/
.mm_default_tabs {
  position: relative;
  width: 100%; }
  .mm_default_tabs__list {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    list-style: none;
    visibility: visible;
    z-index: 1; }
    .mm_default_tabs__list::before {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: #808080;
      z-index: 0; }
  .mm_default_tabs__element {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    font-size: 1.1rem; }
    .mm_default_tabs__element:not(:last-of-type) {
      margin-right: 50px;
      margin-bottom: 0; }
    .mm_default_tabs__element::before {
      display: none; }
  .mm_default_tabs__link {
    display: block;
    height: auto;
    text-decoration: none;
    padding: 0 5px 10px;
    font-size: 1.15rem;
    font-weight: 400;
    color: #0071bc;
    text-transform: uppercase;
    border-bottom: 5px solid transparent; }
    .mm_default_tabs__link._active {
      color: #333333;
      border-bottom-color: #0071bc; }
  .mm_default_tabs__container {
    padding-top: 40px; }
  .mm_default_tabs__pane {
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s linear; }
    .mm_default_tabs__pane::before, .mm_default_tabs__pane::after {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      visibility: hidden;
      clear: both; }
    .mm_default_tabs__pane._active {
      height: auto;
      visibility: visible;
      opacity: 1;
      overflow: visible; }
    .mm_default_tabs__pane .mm_filter {
      margin-top: 0; }

.empty .mm_default_tabs__list {
  padding-top: 0;
  margin-top: 0; }

.empty .mm_default_tabs__container {
  padding: 0px; }

.amberpopup .mm_default_tabs__container {
  padding-top: 0px; }

.amberpopup .mm_page._narrow {
  margin: 0;
  padding: 0px 6px;
  box-shadow: none; }

/*** form ***/
.mm_default_form {
  max-width: 600px;
  font-size: 1rem; }
  .mm_default_form._100 {
    max-width: 100%; }
  .mm_default_form form {
    display: block; }
  .mm_default_form__unit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .mm_default_form__unit:not(:last-of-type) {
      margin-bottom: 30px; }
  .mm_default_form__item {
    max-width: 400px;
    width: 100%; }
    .mm_default_form__item:not(:last-of-type) {
      margin-bottom: 30px; }
    .mm_default_form__item._50 {
      width: calc(50% - 15px); }
  .mm_default_form__label {
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: .9rem;
    color: #333333; }
  .mm_default_form .mm_default_button {
    vertical-align: middle; }

.empty .mm_default_form__item:not(:last-of-type) {
  margin-bottom: 20px; }

.bx-auth-serv-icons form {
  display: inline-block; }

/*** radio ***/
.mm_action {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .mm_action__label {
    display: block;
    cursor: pointer;
    font-size: 0; }
  .mm_action__input {
    display: none; }
    .mm_action__input:checked + .mm_action__icon::before {
      opacity: 1; }
    .mm_action__input:read-only + .mm_action__icon, .mm_action__input:disabled + .mm_action__icon {
      border-color: #cdcdcd; }
      .mm_action__input:read-only + .mm_action__icon::before, .mm_action__input:disabled + .mm_action__icon::before {
        background: #cdcdcd; }
  .mm_action__icon, .mm_action__value {
    display: inline-block;
    vertical-align: top; }
  .mm_action__icon {
    width: 18px;
    height: 18px;
    padding: 3px;
    border: 1px solid #0071bc; }
    .mm_action__icon::before {
      content: '';
      display: block;
      height: 100%;
      text-decoration: none;
      width: 100%;
      background: #0071bc;
      opacity: 0;
      transition: all 0.2s linear; }
  .mm_action__value {
    padding: 2px 0 0 10px;
    font-size: .9rem;
    font-weight: 400;
    color: #333333; }
  .mm_action._radio .mm_action__icon {
    border-radius: 50%; }
    .mm_action._radio .mm_action__icon::before {
      border-radius: 50%; }

/*** choice control ***/
.mm_choice_control {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .mm_choice_control__label {
    display: table;
    table-layout: fixed;
    cursor: pointer; }
  .mm_choice_control__text:disabled, .mm_choice_control__text:read-only {
    background: #f9f9f9;
    border-color: #cdcdcd; }
  .mm_choice_control__textarea {
    display: block;
    width: 100%;
    height: 160px;
    padding: 15px;
    font-weight: 300;
    color: #333333;
    font-size: 1rem;
    background: #ffffdb;
    border: 1px solid #0071bc;
    box-shadow: none;
    outline: 0;
    resize: none; }
    .mm_choice_control__textarea:invalid {
      border-color: #ff0000; }
    .mm_choice_control__textarea:disabled, .mm_choice_control__textarea:read-only {
      background: #f9f9f9;
      border-color: #cdcdcd; }
  .mm_choice_control__input {
    display: none; }
    .mm_choice_control__input:checked + .mm_choice_control__icon .icon::before {
      transform: scale(1); }
  .mm_choice_control__icon, .mm_choice_control__value {
    display: table-cell;
    vertical-align: top; }
  .mm_choice_control__value {
    padding: 3px 0 0 15px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #333333; }
  .mm_choice_control__icon {
    width: 30px; }
  .mm_choice_control .icon {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid #009685; }
    .mm_choice_control .icon::before {
      content: '';
      position: absolute;
      top: -6px;
      left: 3px;
      display: block;
      width: 30px;
      height: 30px;
      background: url(images/sprite.png) no-repeat 0 -167px;
      transform: scale(0);
      z-index: 1;
      transition: transform .1s linear; }

/*** modal ***/
.mm_modal {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 820px;
  min-height: 65px;
  padding: 20px;
  font-size: 1rem;
  color: #333333;
  text-align: left;
  background: white;
  overflow: hidden; }
  .mm_modal._share {
    max-width: 600px; }
    .mm_modal._share .mm_social_networks {
      text-align: center; }
    .mm_modal._share .mm_modal__heading {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto; }
    .mm_modal._share .mm_modal__container {
      padding-bottom: 20px; }
  .mm_modal._vote_received {
    max-width: 315px; }
  .mm_modal._expert {
    max-width: 380px; }
    .mm_modal._expert .mm_add_expert_control:not(:last-of-type) {
      margin-bottom: 35px; }
    .mm_modal._expert ._scrollbar {
      height: 360px; }
  .mm_modal__close {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 20px;
    height: 20px;
    z-index: 2; }
    .mm_modal__close a {
      display: block;
      height: 100%;
      text-decoration: none; }
  .mm_modal__header {
    margin-bottom: 30px;
    padding-right: 25px;
    overflow: hidden; }
  .mm_modal__heading {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase; }
  .mm_modal__container {
    width: 100%;
    height: 100%;
    color: inherit;
    font-size: inherit; }
  .mm_modal ._scrollbar {
    width: 100%;
    height: 100%;
    min-height: 195px;
    overflow: hidden; }

@media all and (max-width: 768px) {
  .mm_modal {
    height: 100%; }
    .mm_modal ._scrollbar {
      height: 85%; } }

/*** expert control ***/
.mm_add_expert_control {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .mm_add_expert_control__label {
    display: table;
    width: 100%;
    height: 100%;
    height: auto;
    cursor: pointer; }
  .mm_add_expert_control__input {
    display: none; }
    .mm_add_expert_control__input:checked + .mm_add_expert_control__icon .checkbox::before {
      opacity: 1; }
  .mm_add_expert_control__icon, .mm_add_expert_control__value {
    display: table-cell;
    vertical-align: middle; }
  .mm_add_expert_control__icon {
    width: 30px; }
    .mm_add_expert_control__icon .checkbox {
      position: relative;
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid #0071bc; }
      .mm_add_expert_control__icon .checkbox::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 2px;
        display: block;
        width: 9px;
        height: 9px;
        opacity: 0;
        background: url(images/sprite.png) no-repeat -358px -30px;
        transition: all 0.15s linear; }
  .mm_add_expert_control__value {
    font-size: 0; }
  .mm_add_expert_control .mm_expert_image,
  .mm_add_expert_control .mm_expert_details {
    display: inline-block;
    vertical-align: top; }
  .mm_add_expert_control .mm_expert_image {
    width: 54px;
    height: 54px;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    overflow: hidden; }
    .mm_add_expert_control .mm_expert_image img {
      max-width: 53px;
      max-height: 53px;
      border-radius: 50%; }
  .mm_add_expert_control .mm_expert_details {
    width: calc(100% - 55px);
    padding-left: 15px; }
  .mm_add_expert_control .mm_expert_name,
  .mm_add_expert_control .mm_expert_position {
    display: block; }
  .mm_add_expert_control .mm_expert_name {
    font-size: 1.15rem;
    color: #0071bc; }
  .mm_add_expert_control .mm_expert_position {
    font-size: .9rem;
    font-weight: 500;
    font-style: italic; }

/*** keyframes ***/
@keyframes zoOm {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

/*** wrapper ***/
.mm_website_wrapper {
  padding-top: 80px;
  color: inherit;
  font-size: inherit;
  overflow-x: hidden; }
  .mm_website_wrapper.empty {
    padding: 0;
    background-color: #fff; }

/*** header ***/
#mm_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 25px;
  font-size: 0;
  color: #4d4d4d;
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
  z-index: 100; }

.mm_header_logotype {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  padding-left: 10px;
  color: #4d4d4d; }

.mm_header_logotype__link {
  display: table;
  width: 100%;
  height: 100%;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  line-height: normal; }

.mm_header_logotype__label,
.mm_header_logotype__desc {
  display: inline-block;
  vertical-align: middle; }

.mm_header_logotype__label {
  padding: 2px 25px 2px 0;
  font-size: 24px;
  font-weight: 500;
  border-right: 2px solid #ff0000; }

.mm_header_logotype__desc {
  padding-left: 25px;
  font-size: .9rem; }

.mm_header_controls {
  position: absolute;
  top: 0;
  right: 0;
  display: table;
  width: 100%;
  height: 100%;
  width: auto;
  padding-right: 35px; }

.mm_header_controls__button {
  display: inline-block;
  vertical-align: middle;
  color: #4d4d4d;
  font-size: 1rem; }
  .mm_header_controls__button:not(:last-of-type) {
    margin-right: 35px; }
  .mm_header_controls__button a {
    display: block;
    height: auto;
    text-decoration: none;
    padding: 0 10px;
    color: inherit;
    font-size: inherit;
    text-transform: uppercase;
    line-height: normal; }

/*** navigation ***/
.mm_navigation_button {
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 100%;
  padding: 0 16px;
  text-align: center;
  background: white;
  border: 0;
  border-radius: 0;
  outline: 0; }

.mm_navigation_button__bar {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 4px; }
  .mm_navigation_button__bar._grey {
    background: #cccccc; }
  .mm_navigation_button__bar._blue {
    background: #008bf0; }
  .mm_navigation_button__bar._red {
    background: #ff0000; }
  .mm_navigation_button__bar:not(:last-of-type) {
    margin-bottom: 6px; }

#mm_navigation {
  position: fixed;
  top: 0;
  left: -310px;
  width: 310px;
  height: 100%;
  padding: 40px;
  background: white;
  z-index: 102;
  transition: all 0.3s linear; }

.mm_navigation__link {
  display: block;
  height: auto;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: #0071bc; }
  .mm_navigation__link:not(:last-of-type) {
    margin-bottom: 30px; }

.mm_navigation_close_button {
  position: absolute;
  top: 38px;
  right: 40px;
  width: 26px;
  height: 26px;
  text-align: center;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: 0; }

.mm_nav_controls {
  display: none;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #4d4d4d; }

.mm_nav_controls__button {
  font-size: 1.2rem; }
  .mm_nav_controls__button:not(:last-of-type) {
    margin-bottom: 10px; }
  .mm_nav_controls__button a {
    display: block;
    height: auto;
    text-decoration: none; }

.mm_nav_overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  transition: all 0.3s linear; }

/*** banner ***/
#mm_banner {
  position: relative; }

.mm_banner__element {
  position: relative;
  overflow: hidden; }

.mm_banner {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden; }
  .mm_banner._huge {
    height: 530px; }
    .mm_banner._huge .mm_banner__heading {
      font-size: 48px; }
  .mm_banner._short {
    height: 197px; }
    .mm_banner._short .mm_banner__heading {
      font-size: 38px;
      font-weight: 400; }
    .mm_banner._short .mm_more_link {
      margin-top: 40px; }
  .mm_banner .mm_table_cell {
    position: relative;
    z-index: 1; }

.mm_banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: zoOm 150s infinite linear; }
  .mm_banner__background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0; }

.mm_banner__heading {
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 12px black; }

.mm_banner_features {
  margin: 45px 0 75px;
  font-size: 0;
  text-align: center; }

.mm_banner_features__element {
  display: inline-block;
  vertical-align: top; }
  .mm_banner_features__element:not(:last-of-type) {
    margin-right: 120px; }
  .mm_banner_features__element._join {
    color: #00ffff; }
  .mm_banner_features__element._vote {
    color: #ffff00; }
  .mm_banner_features__element._influence {
    color: #00ff00; }

.mm_banner_features__icon {
  display: table;
  width: 100%;
  height: 100%;
  height: 77px; }

.mm_banner_features__label {
  margin-top: 15px;
  font-size: 21px;
  text-transform: uppercase;
  line-height: normal; }

.mm_banner_stats {
  margin: 45px 0;
  font-size: 0;
  text-align: center; }

.mm_banner_stats__element {
  display: inline-block;
  vertical-align: top;
  color: white; }
  .mm_banner_stats__element:not(:last-of-type) {
    margin-right: 90px; }

.mm_banner_stats__figure {
  font-size: 32px;
  font-weight: 400;
  color: inherit; }

.mm_banner_stats__label {
  font-size: 1.1rem;
  font-weight: 400;
  color: inherit; }

/*** vote element ***/
.mm_vote_element {
  position: relative;
  width: 360px;
  height: 412px;
  margin-bottom: 45px;
  background: white;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.15s linear;
  overflow: hidden; }
  .mm_vote_element:hover {
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3); }
    .mm_vote_element:hover .mm_vote_element__image img {
      transform: scale(1.05); }
  .mm_vote_element._expired_soon .mm_vote_element__summary {
    background: #ff4d17;
    border-top-color: #ff4d17; }
  .mm_vote_element._normal .mm_vote_element__summary {
    background: #009685;
    border-top-color: #009685; }
  .mm_vote_element._completed .mm_vote_element__summary {
    background: #808080;
    border-top-color: #808080; }
  .mm_vote_element._sketch .mm_vote_element__summary {
    color: #333333;
    background: transparent;
    border-top-color: #4d4d4d; }
  .mm_vote_element__edit {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    z-index: 2; }
    .mm_vote_element__edit a {
      display: block;
      height: 100%;
      text-decoration: none; }
  .mm_vote_element__image {
    width: 100%;
    height: 187px;
    margin: 0;
    overflow: hidden; }
    .mm_vote_element__image img {
      max-height: 187px;
      transition: all 0.3s linear; }
  .mm_vote_element__link {
    display: block;
    height: auto;
    text-decoration: none; }
  .mm_vote_element__content {
    height: 170px;
    padding: 15px 20px;
    overflow: hidden; }
  .mm_vote_element__heading {
    margin-bottom: 5px;
    font-size: 1.15rem;
    font-weight: 400;
    color: #0071bc; }
    .mm_vote_element__heading a {
      text-decoration: none; }
  .mm_vote_element__preview {
    font-size: .85rem;
    font-weight: 300;
    color: #333333; }
    .mm_vote_element__preview p {
      color: inherit;
      font-size: inherit; }
  .mm_vote_element__summ {
    display: none !important;
    display: table;
    width: 100%;
    height: 100%;
    height: 48px;
    padding: 0 20px 15px;
    font-size: 18px;
    font-weight: 300; }
    .mm_vote_element__summ .icon,
    .mm_vote_element__summ .label {
      display: table-cell;
      vertical-align: middle; }
    .mm_vote_element__summ .icon {
      width: 20px; }
    .mm_vote_element__summ .label {
      padding-left: 10px;
      line-height: normal; }
  .mm_vote_element__summary {
    display: table;
    width: 100%;
    height: 100%;
    height: 55px;
    padding: 0 20px;
    color: white;
    border-top: 1px solid transparent; }
    .mm_vote_element__summary .estimated_time,
    .mm_vote_element__summary .details {
      display: table-cell;
      vertical-align: middle;
      font-size: 0;
      color: inherit; }
    .mm_vote_element__summary .estimated_time {
      width: 170px; }
    .mm_vote_element__summary .i {
      margin-right: 5px;
      vertical-align: middle; }
    .mm_vote_element__summary span.value {
      display: inline-block;
      vertical-align: middle;
      font-size: 1rem;
      color: inherit;
      line-height: normal; }
    .mm_vote_element__summary .details {
      text-align: right; }
    .mm_vote_element__summary .votes,
    .mm_vote_element__summary .comments {
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      color: inherit;
      text-align: left; }
    .mm_vote_element__summary .comments {
      margin-left: 30px; }

/*** news list ***/
.mm_news_element {
  position: relative;
  width: 360px;
  height: 305px;
  margin-bottom: 45px;
  padding: 25px 20px 45px;
  background: white;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.15s linear; }
  .mm_news_element:hover {
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3); }
  .mm_news_element__date {
    margin-bottom: 20px;
    font-size: .85rem;
    color: #333333;
    line-height: normal; }
  .mm_news_element__link {
    margin-bottom: 10px;
    font-size: 1.15rem;
    font-weight: 400;
    color: #0071bc; }
    .mm_news_element__link a {
      text-decoration: none; }
  .mm_news_element__preview {
    font-size: .9rem;
    font-weight: 300; }
    .mm_news_element__preview p {
      color: inherit;
      font-size: inherit; }
  .mm_news_element__share {
    position: absolute;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    height: 45px;
    padding: 0 20px;
    background: #f2f2f2;
    z-index: 1; }
    .mm_news_element__share .label,
    .mm_news_element__share .mm_social_networks {
      display: table-cell;
      vertical-align: middle; }
    .mm_news_element__share .label {
      width: 90px;
      font-size: .85rem;
      font-weight: 400;
      line-height: normal; }

/*** share ***/
.mm_share {
  padding-bottom: 50px;
  font-size: 0;
  text-align: center; }

.mm_share__label,
.mm_share__socials {
  display: inline-block;
  vertical-align: middle; }

.mm_share__label {
  margin-right: 40px;
  text-align: left; }

.mm_share__heading {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase; }
  .mm_share__heading .value {
    display: block; }

/*** footer ***/
#mm_footer {
  padding: 65px 0;
  background: white;
  /*
  .mm_list {
    justify-content: space-between;
  }
  */ }

.mm_footer__section {
  font-size: .8rem; }
  .mm_footer__section > *:last-child {
    margin-bottom: 0; }
  .mm_footer__section._developers {
    width: 250px; }
  .mm_footer__section._operator {
    width: 210px; }
  .mm_footer__section._support {
    width: 340px; }
  .mm_footer__section._logo {
    width: 260px; }
    .mm_footer__section._logo a {
      color: #333333;
      font-size: 1rem;
      text-decoration: none; }
      .mm_footer__section._logo a:hover ._title {
        text-decoration: underline; }
      .mm_footer__section._logo a ._img {
        width: 45px; }
      .mm_footer__section._logo a ._title {
        padding-left: 10px;
        text-align: left; }
    .mm_footer__section._logo img {
      max-height: 55px; }
  .mm_footer__section a, .mm_footer__section p {
    font-size: inherit; }

/*** stats bar ***/
.mm_stats_bar {
  padding: 15px 0;
  background: #ebebeb; }

.mm_stats_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.mm_stats_list__element {
  font-size: 0; }
  .mm_stats_list__element .label,
  .mm_stats_list__element .figure {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; }
  .mm_stats_list__element .label {
    font-size: 1rem;
    font-weight: 400; }
  .mm_stats_list__element .figure {
    padding-left: 5px;
    font-size: 1.2rem;
    font-weight: 500; }

/*** filter ***/
.mm_filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  margin: 50px 0;
  padding: 20px 25px;
  background: white;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2); }
  .mm_filter__element {
    font-size: 0; }
    .mm_filter__element .mm_control:not(:last-of-type),
    .mm_filter__element .mm_dropdown:not(:last-of-type) {
      margin-right: 35px; }

.mm_applied_filter {
  display: table;
  width: 100%;
  height: 100%;
  height: auto;
  margin-top: 50px; }
  .mm_applied_filter__label, .mm_applied_filter__value {
    display: table-cell;
    vertical-align: top; }
  .mm_applied_filter__label {
    width: 125px;
    font-size: 1rem;
    font-weight: 300; }
  .mm_applied_filter__value {
    padding-left: 15px;
    font-size: 0; }
    .mm_applied_filter__value .mm_applied_filter_element {
      margin-bottom: 10px; }
      .mm_applied_filter__value .mm_applied_filter_element:not(:last-of-type) {
        margin-right: 30px; }

.mm_applied_filter_element {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  background: #0071bc;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2); }
  .mm_applied_filter_element__link {
    display: table;
    width: 100%;
    height: 100%;
    padding: 8px 0;
    color: inherit;
    font-size: inherit;
    text-decoration: none; }
  .mm_applied_filter_element__label, .mm_applied_filter_element__remove {
    display: table-cell;
    vertical-align: middle; }
  .mm_applied_filter_element__label {
    padding-left: 20px;
    color: inherit;
    font-size: inherit;
    text-align: left; }
  .mm_applied_filter_element__remove {
    width: 37px;
    text-align: center; }

.mm_chosen_filters {
  font-size: 0; }
  .mm_chosen_filters .mm_applied_filter_element {
    margin: 0 30px 10px 0; }

/*** narrow ***/
.mm_page {
  position: relative;
  margin: 0 auto 75px;
  padding: 35px 50px;
  background: white;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2); }
  .mm_page._narrow {
    max-width: 820px; }
  .mm_page > *:last-child {
    margin-bottom: 0; }
  .mm_page h1, .mm_page .h1,
  .mm_page h2, .mm_page .h2 {
    margin-bottom: 20px; }
  .mm_page h3, .mm_page .h3,
  .mm_page h4, .mm_page .h4 {
    margin-bottom: 15px; }
  .mm_page h5, .mm_page .h5,
  .mm_page h6, .mm_page .h6 {
    margin-bottom: 10px; }

.empty .mm_page {
  margin: 0px;
  padding: 0px;
  box-shadow: none; }

.mm_back {
  position: absolute;
  top: 35px;
  right: 50px;
  z-index: 2; }
  .mm_back__link {
    display: block;
    height: auto;
    text-decoration: none; }

/*** breadcrumbs ***/
.mm_breadcrumbs {
  margin-bottom: 30px;
  padding-right: 25px;
  font-size: 0; }
  .mm_breadcrumbs__element {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #333333; }
    .mm_breadcrumbs__element:not(:last-of-type) {
      margin-right: 20px; }
      .mm_breadcrumbs__element:not(:last-of-type)::before {
        content: '\2192';
        position: absolute;
        top: 0;
        right: -19px;
        display: block;
        width: 15px;
        font-size: inherit;
        font-weight: 600;
        color: #333333;
        box-sizing: border-box; }
  .mm_breadcrumbs__link {
    display: block;
    height: auto;
    text-decoration: none;
    max-width: 325px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

.mm_vote_label {
  display: inline-block;
  vertical-align: top;
  margin-left: -50px;
  margin-bottom: 35px;
  padding: 10px 30px 10px 50px;
  font-size: 0;
  color: white; }
  .mm_vote_label__icon, .mm_vote_label__value {
    display: inline-block;
    vertical-align: top; }
  .mm_vote_label__icon {
    margin-right: 10px; }
  .mm_vote_label__value {
    font-size: 1rem;
    color: inherit; }
  .mm_vote_label._expired_soon {
    background: #ff4d17; }
  .mm_vote_label._normal {
    background: #009685; }
  .mm_vote_label._completed {
    background: #808080; }

.mm_narrow__heading {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 400; }

/*** auth ***/
.mm_forgot_password {
  display: inline-block;
  vertical-align: middle;
  font-size: .9rem;
  text-decoration: none; }
  .mm_forgot_password:hover {
    text-decoration: underline; }

/*** profile ***/
.mm_add_vote {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  vertical-align: top; }

/*** vote detail ***/
.mm_vote_props {
  margin: 40px 0;
  font-size: .9rem;
  color: #333333; }
  .mm_vote_props__prop {
    color: inherit;
    font-size: inherit; }
    .mm_vote_props__prop:not(:last-of-type) {
      margin-bottom: 20px; }
  .mm_vote_props a {
    text-decoration: none; }
    .mm_vote_props a:hover {
      text-decoration: underline; }

.mm_vote_preview_text,
.mm_vote_full_text {
  color: inherit;
  font-size: inherit; }

.mm_vote_full_text {
  display: none;
  padding-top: 30px; }

.mm_vote_more {
  margin-top: 20px;
  font-size: 1rem; }
  .mm_vote_more__link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    border-bottom: 1px dashed transparent; }
    .mm_vote_more__link:hover {
      border-bottom-color: #0071bc; }

.mm_image {
  margin: 30px 0;
  text-align: center; }
  .mm_image__caption {
    max-width: 310px;
    margin: 10px auto 0;
    font-size: .9rem;
    font-weight: 300;
    font-style: italic; }

.amberpopup .mm_expert_grade__element_image {
  float: left;
  margin-right: 20px; }

.mm_expert_grade {
  margin: 45px 0;
  font-size: 0;
  border-bottom: 1px solid #4d4d4d; }
  .mm_expert_grade__heading {
    margin-bottom: 20px !important;
    font-size: 1.3rem; }
  .mm_expert_grade__element {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-bottom: 45px;
    cursor: pointer;
    text-align: center; }
    .mm_expert_grade__element_image {
      width: 93px;
      height: 93px;
      margin: 0 auto 10px;
      border: 1px solid #4d4d4d;
      border-radius: 50%;
      overflow: hidden; }
      .mm_expert_grade__element_image img {
        border-radius: 50%; }
    .mm_expert_grade__element_name {
      margin-bottom: 10px;
      font-size: 1.15rem;
      color: #0071bc; }
    .mm_expert_grade__element_speciality {
      font-size: .85rem;
      font-style: italic; }
    .mm_expert_grade__element_vote {
      position: absolute;
      top: 8px;
      right: 0;
      display: inline-block;
      vertical-align: top;
      padding: 2px 8px;
      font-size: .8rem;
      color: white;
      text-transform: uppercase;
      line-height: 1; }
      .mm_expert_grade__element_vote._for {
        background: #009245; }
      .mm_expert_grade__element_vote._against {
        background: #ff4d17; }
    .mm_expert_grade__element_remove {
      margin-top: 20px;
      text-align: center; }
      .mm_expert_grade__element_remove a {
        display: inline-block;
        vertical-align: top;
        text-decoration: none; }
    .mm_expert_grade__element_desc {
      position: absolute;
      right: 0px;
      top: 24px;
      min-width: 200px;
      text-align: left;
      padding-left: 25px;
      display: table-cell;
      vertical-align: top;
      /* display: none; */
      visibility: hidden;
      z-index: 10; }
    .mm_expert_grade__element:not(:nth-of-type(4n)) {
      margin-right: 60px; }
    .mm_expert_grade__element:last-of-type {
      margin-right: 0; }

.amberpopup .mm_expert_grade__element_image {
  float: left;
  margin-right: 20px; }

.mm_expert_list {
  width: 100%; }
  .mm_expert_list__element {
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 50px; }
  .mm_expert_list__expert, .mm_expert_list__desc {
    display: table-cell;
    vertical-align: top; }
  .mm_expert_list__expert {
    width: 140px; }
    .mm_expert_list__expert .mm_expert_grade__element {
      margin: 0; }
  .mm_expert_list__desc {
    padding-left: 25px; }
    .mm_expert_list__desc .controls {
      margin-top: 25px;
      font-size: 0; }
      .mm_expert_list__desc .controls .mm_default_button:not(:last-child) {
        margin-right: 25px; }

.mm_kinda_textarea {
  padding: 10px 5px 10px 10px;
  font-size: .9rem;
  font-weight: 300;
  font-style: italic;
  background: #ffffdb;
  border: 1px solid #0071bc; }
  .mm_kinda_textarea__inside {
    height: 155px;
    overflow: hidden; }

.mm_vote_choice {
  margin: 45px 0;
  font-size: 0;
  border-bottom: 1px solid #4d4d4d; }
  .mm_vote_choice__heading {
    font-size: 28px;
    text-align: center; }
  .mm_vote_choice__options {
    margin: 40px 0; }
    .mm_vote_choice__options .mm_vote_option:not(:last-of-type) {
      margin-right: 30px; }
    .mm_vote_choice__options .mm_more_link {
      margin-top: 45px; }
  .mm_vote_choice__item {
    font-size: 1rem; }
    .mm_vote_choice__item:not(:last-of-type) {
      margin-bottom: 20px; }

.mm_vote_reiceved_message {
  padding: 40px 0 30px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase; }

.mm_vote_option {
  display: inline-block;
  vertical-align: top;
  width: 225px;
  text-align: left; }
  .mm_vote_option._for .mm_vote_option__icon {
    background: #009685; }
    .mm_vote_option._for .mm_vote_option__icon::before {
      border-color: #009685; }
  .mm_vote_option._for .mm_vote_option__value {
    color: #009685; }
  .mm_vote_option._against .mm_vote_option__icon {
    background: #ff4d17; }
    .mm_vote_option._against .mm_vote_option__icon::before {
      border-color: #ff4d17; }
  .mm_vote_option._against .mm_vote_option__value {
    color: #ff4d17; }
  .mm_vote_option:hover .mm_vote_option__icon .i {
    opacity: 1; }
  .mm_vote_option__label {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer; }
  .mm_vote_option__input {
    display: none; }
    .mm_vote_option__input:checked + .mm_vote_option__icon::before {
      border-width: 1px; }
    .mm_vote_option__input:checked + .mm_vote_option__icon .i {
      opacity: 1; }
  .mm_vote_option__icon, .mm_vote_option__value {
    display: table-cell;
    vertical-align: middle; }
  .mm_vote_option__icon {
    width: 58px;
    height: 58px;
    text-align: center; }
    .mm_vote_option__icon::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border: 0 solid transparent; }
    .mm_vote_option__icon .i {
      opacity: .5;
      transition: all 0.2s linear; }
  .mm_vote_option__value {
    padding-left: 15px;
    font-size: 26px;
    text-transform: uppercase;
    line-height: normal; }

.mm_vote_stats {
  display: block;
  vertical-align: top;
  margin-bottom: 40px; }
  .mm_vote_stats:not(:last-of-type) {
    margin-right: 130px; }
  .mm_vote_stats._for {
    color: #009685; }
  .mm_vote_stats._against {
    color: #ff4d17; }
  .mm_vote_stats__percent {
    font-size: 3.5rem;
    font-weight: 500;
    color: inherit;
    line-height: normal;
    color: #009685; }
  .mm_vote_stats__label {
    margin-top: 5px;
    color: inherit; }
    .mm_vote_stats__label > span {
      display: block; }
    .mm_vote_stats__label .label {
      font-size: 1.15rem; }
    .mm_vote_stats__label .vote {
      font-size: 1.6rem;
      text-transform: uppercase; }

.mm_vote_controls {
  display: flex;
  margin: 45px 0 50px;
  flex-wrap: wrap;
  justify-content: space-between; }

/*** file link ***/
.mm_files {
  margin: 40px 0;
  color: #0071bc; }
  .mm_files__link {
    display: table;
    width: 100%;
    height: 100%;
    width: auto;
    text-decoration: none; }
    .mm_files__link:not(:last-of-type) {
      margin-bottom: 25px; }
  .mm_files__icon, .mm_files__value {
    display: table-cell;
    vertical-align: top; }
  .mm_files__remove {
    display: table-cell;
    vertical-align: top; }
  .mm_files__icon {
    width: 26px; }
  .mm_files__value {
    padding: 3px 0 0 10px; }
  .mm_files__remove {
    padding: 2px 0 0 15px; }
    .mm_files__remove .i {
      vertical-align: middle; }

.mm_add_files {
  display: none; }

/*** vote add ***/
.mm_vote_add_controls {
  margin-bottom: 40px;
  font-size: 0; }
  .mm_vote_add_controls__control {
    display: inline-block;
    vertical-align: top; }
    .mm_vote_add_controls__control:not(:last-of-type) {
      margin-right: 35px; }

.mm_vote_add_section {
  color: #333333;
  font-size: 1rem; }
  .mm_vote_add_section:not(:last-of-type) {
    margin-bottom: 75px; }
  .mm_vote_add_section__header {
    margin-bottom: 25px; }
    .mm_vote_add_section__header .heading {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0 !important;
      padding-right: 30px;
      font-size: 1.3rem; }
      .mm_vote_add_section__header .heading .prompt {
        position: absolute;
        top: 3px;
        right: 0;
        width: 25px;
        text-align: right;
        line-height: 1; }
  .mm_vote_add_section .mm_dropdown,
  .mm_vote_add_section .mm_chosen_filters {
    margin-top: 20px; }

.mm_wysiwyg_section {
  width: 100%;
  margin-top: 20px;
  background: #ffffdb;
  border: 1px solid #0071bc; }
  .mm_wysiwyg_section._preview {
    height: 230px; }
  .mm_wysiwyg_section._full {
    height: 350px; }

/*** wysiwyg ***/
.trumbowyg-box {
  border: 0; }

.trumbowyg-editor {
  padding: 10px; }

.trumbowyg-button-pane {
  margin-bottom: 15px;
  padding: 0;
  border: 1px solid #0071bc; }

/*** news detail ***/
.mm_news_date {
  margin: 30px 0;
  font-size: .9rem;
  font-weight: 600; }

.mm__detail_share {
  margin-top: 40px;
  padding-top: 40px;
  text-align: right;
  border-top: 1px solid #4d4d4d; }

/*** 404 ***/
.mm_not_found {
  padding-bottom: 35px;
  text-align: center; }
  .mm_not_found__heading {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1; }
  .mm_not_found__sub {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase; }
  .mm_not_found__text {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .mm_not_found__start {
    margin-top: 35px; }

/*** 404 ***/
.errortext {
  color: red; }

.notetext {
  color: #333333; }

/* soc net ico */
div.bx-auth-serv-icons i,
div.bx-auth-serv-icons button {
  width: 24px;
  height: 24px;
  border: 0;
  outline: 0;
  display: inline-block;
  vertical-align: inherit;
  background: transparent url(images/sprite.png) no-repeat; }
  div.bx-auth-serv-icons i.vkontakte,
  div.bx-auth-serv-icons button.vkontakte {
    background-position: 0 -142px; }
  div.bx-auth-serv-icons i.facebook,
  div.bx-auth-serv-icons button.facebook {
    background-position: -28px -142px; }
  div.bx-auth-serv-icons i.odnoklassniki,
  div.bx-auth-serv-icons button.odnoklassniki {
    background-position: -56px -142px; }
  div.bx-auth-serv-icons i.twitter,
  div.bx-auth-serv-icons button.twitter {
    background-position: -84px -142px; }

/* modal */
#mm_iframe__container {
  padding: 30px 0px 0px 0px; }

/* captcha */
.captcha_reload {
  border: 1px solid transparent;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  border-radius: 25px;
  background: #383838 url("images/icons_wish.png") repeat scroll -63px -78px; }

/**** URGENT MESSAGES ****/
.urgent_messages_wrp {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: #f8e948;
  z-index: 10;
  display: none; }
  .urgent_messages_wrp .line {
    position: relative;
    margin: 0 auto; }
    .urgent_messages_wrp .line .mm_modal__close {
      position: absolute;
      top: 6px;
      right: 10px;
      width: 20px;
      height: 20px;
      z-index: 2; }
  .urgent_messages_wrp .title,
  .urgent_messages_wrp .title .value,
  .urgent_messages_wrp .message_wrp {
    display: inline-block;
    vertical-align: middle; }
  .urgent_messages_wrp .title {
    width: 175px;
    margin-right: 35px; }
    .urgent_messages_wrp .title .icon {
      width: 40px;
      display: inline-block;
      vertical-align: middle; }
    .urgent_messages_wrp .title .value {
      padding-left: 10px; }
  .urgent_messages_wrp .message_wrp {
    color: #000;
    text-align: center;
    overflow: hidden; }
    .urgent_messages_wrp .message_wrp #message {
      padding: 0 15px;
      color: #000;
      font-size: 1.3em;
      font-family: "PT Sans", sans-serif; }
  .urgent_messages_wrp h4 {
    margin: 0;
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase; }

/*****************************************
	TEMPLATES_STYLES FOR
******************************************/

/*# sourceMappingURL=template_styles.css.map */