/* all variables and mixins are in this file */
@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  margin: 0 auto;
  background: $background;
}
html {
  font-size: $size;
}
body {
  font-family: $font;
  font-weight: 400;
  color: $color;
  line-height: 1.3;
    &._hidden {
      overflow-x: hidden;
    }
    &._noscroll {
      overflow: hidden;
    }
    &._nav_is_open {
      height: 100%;
      overflow: hidden;
        .mm_nav_overlay {
          visibility: visible;
          opacity: 1;
        }
        #mm_navigation {
          left: 0;
        }
    }
}


/*
	Set font selection according to the website color scheme
*/

*::selection {
  background: $color;
  color: white;
}
*::-moz-selection {
  background: $color;
  color: white;
}

/*** scrollbar in -webkit- browsers ***/

::-webkit-scrollbar-track{background-color:transparent;}
::-webkit-scrollbar{width:6px;background-color:$background;}
::-webkit-scrollbar-thumb{background-color:$color;}

.fix {
  &::before,
  &::after {
    @include fix;
  }
}


._hide,
._none {
  display: none!important;
  visibility: hidden!important;
}

._noselect {
  @include noselect;
}

/*
  Headings
*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}
h1, .h1 {
  font-size: 2.3rem;
}
h2, .h2 {
  font-size: 2.1rem;
}
h3, .h3 {
  font-size: 1.8rem;
}
h4, .h4 {
  font-size: 1.6rem;
}
h5, .h5 {
  font-size: 1.4rem;
}
h6, .h6 {
  font-size: 1.2rem;
}

a {
  color: $link;
  text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
}
p {
  margin: 0;
  font-size: 1rem;
  line-height: inherit;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
}
ul,
ol {
  margin: 20px 0;
    li {
      position: relative;
        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
    }
}
ul {
  list-style: none;
    li {
      padding-left: 20px;
        &::before {
          content: '';
          position: absolute;
          top: 9px;
          left: 0;
          display: block;
          width: 10px;
          height: 1px;
          background: $color;
        }
    }
}
ol {
  padding-left: 15px;
}
blockquote {
  margin: 30px 0;
  padding-left: 60px;
  font-size: 1.15rem;
  font-weight: 300;
  font-style: italic;
}

._align_l {
  @include align_l;
}
._align_c {
  @include align_c;
}
._align_r {
  @include align_r;
}
._align_j {
  @include align_j;
}

._bold {
  @include bold;
}
._upp {
  @include upp;
}

img {
  @include iblock(top);
  @include image(auto, 100%);
  height:auto;
  border: 0;
}
.i {
  @include iblock(inherit);
  background: $sprite;
    &._join {
      width: 104px;
      height: 63px;
      background-position: 0 0;
    }
    &._vote {
      width: 77px;
      height: 68px;
      background-position: -108px 0;
    }
    &._influence {
      width: 142px;
      height: 77px;
      background-position: -189px 0;
    }
    &._calc {
      width: 18px;
      height: 24px;
      background-position: -335px 0;
    }
    &._clock {
      width: 17px;
      height: 17px;
      background-position: -357px 0;
    }
    &._votes {
      width: 17px;
      height: 17px;
      background-position: -378px 0;
    }
    &._comments {
      width: 19px;
      height: 17px;
      background-position: -399px 0;
    }
    &._vk_small {
      width: 24px;
      height: 24px;
      background-position: 0 -142px;
    }
    &._fb_small {
      width: 24px;
      height: 24px;
      background-position: -28px -142px;
    }
    &._ok_small {
      width: 24px;
      height: 24px;
      background-position: -56px -142px;
    }
    &._tw_small {
      width: 24px;
      height: 24px;
      background-position: -84px -142px;
    }
    &._tg_small {
      width: 24px;
      height: 24px;
      background-position: -112px -142px;
    }
    &._vk_big {
      width: 60px;
      height: 60px;
      background-position: 0 -80px;
    }
    &._fb_big {
      width: 60px;
      height: 60px;
      background-position: -64px -80px;
    }
    &._ok_big {
      width: 60px;
      height: 60px;
      background-position: -128px -80px;
    }
    &._tw_big {
      width: 60px;
      height: 60px;
      background-position: -193px -80px;
    }
    &._tg_big {
      width: 60px;
      height: 60px;
      background-position: -257px -80px;
    }
    &._cross {
      width: 19px;
      height: 19px;
      background-position: -335px -29px;
    }
    &._remove {
      width: 9px;
      height: 9px;
      background-position: -370px -29px;
    }
    &._calendar {
      width: 26px;
      height: 27px;
      background-position: -335px -50px;
    }
    &._plus {
      width: 13px;
      height: 13px;
      background-position: -382px -29px;
    }
    &._edit {
      width: 45px;
      height: 45px;
      background-position: -321px -80px;
    }
    &._link_back {
      width: 18px;
      height: 15px;
      background-position: -393px -51px;
    }
    &._file {
      width: 26px;
      height: 26px;
      background-position: -368px -80px;
    }
    &._for {
      width: 34px;
      height: 34px;
      background-position: -369px -109px;
    }
    &._against {
      width: 26px;
      height: 26px;
      background-position: -391px -80px;
    }
    &._share {
      width: 19px;
      height: 19px;
      background-position: -367px -145px;
    }
    &._checked {
      width: 28px;
      height: 26px;
      background-position: -366px -166px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      border: 2px transparent solid;
      padding: 9px;
      @include smooth(.5s);
      &:hover {
        border-color: $red;
      }
    }
}

span.value {
  @include inherit;
}
.mm_table {
  @include table;
}
.mm_table_cell {
  @include td(initial);
    &._top {
      vertical-align: top;
    }
    &._middle {
      vertical-align: middle;
    }
    &._bottom {
      vertical-align: bottom;
    }
}

.mm_select {
  select {
    display: block;
    width: 100%;
    height: 100%;
    outline: 0;
      &:disabled {
        + .jq-selectbox__select {
          background: #f9f9f9;
          border-color: #cdcdcd;
            .jq-selectbox__trigger-arrow {
              border-top-color: #cdcdcd;
            }
        }
      }
  }
  .jq-selectbox {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    font-size: 1rem;
    cursor: pointer;
    @include noselect;
      &.opened {
        .jq-selectbox__trigger-arrow {
          transform: rotate(-180deg);
        }
      }
  }
  .jq-selectbox__select-text {
    display: block;
    width: 100%;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: transparent;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    transition: transform .2s linear;
  }
  .jq-selectbox__dropdown {
    width: 100%;
    margin: 0;
    padding: 0;
    ul {
      width: 100%;
      li {
        padding-left: 0;
          &:not(:last-of-type) {
            margin-bottom: 0;
          }
          &::before {
            display: none;
          }
        a {
          @include link(auto);
          transition: color .3s linear;
        }
      }
    }
  }
  .jq-selectbox__search {
    display: none;
    input {
      display: block;
      width: 100%;
      height: 35px;
      padding: 0 10px;
      border: 3px solid;
    }
  }
  .jq-selectbox__not-found {
    padding: 5px 10px;
  }
    &._type_1 {
      .jq-selectbox__select {
        height: 43px;
        background: $yellow;
        border: 1px solid $link;
      }
      .jq-selectbox__select-text {
        padding: 0 50px 0 15px;
        line-height: 41px;
      }
      .jq-selectbox__trigger {
        width: 43px;
      }
      .jq-selectbox__trigger-arrow {
        top: 17px;
        right: 15px;
        width: 9px;
        height: 6px;
      }
      .jq-selectbox .jq-selectbox__trigger-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: $link transparent transparent transparent;
      }
      .jq-selectbox__dropdown {
        top: 45px;
        min-width: 100%;
          ul {
            padding: 1px;
            background: white;
            border: 1px solid $link;
            li {
              padding: 10px 15px;
                &:hover {
                  color: white;
                  background: $link;
                }
                &:not(:last-child) {
                  margin-bottom: 5px;
                }
            }
          }
      }
    }
}
.mm_input {
  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]) {
    @include input(43px, 0 15px);
  }
  textarea {
    @include input(160px, 15px);
    &:invalid {
      border-color: $red;
    }
  }
  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]),
  textarea {
    &:disabled,
    &:read-only {
      background: #f9f9f9;
      border-color: lighten($grey, 50%);
    }
  }
  &._date {
    position: relative;
      input {
        padding-right: 45px!important;
          &:disabled {
            + .mm_date {
              pointer-events: none;
                .i._calendar {
                  background-position: -363px -50px;
                }
            }
          }
      }
  }
  &_captcha {
    width: 150px !important;
    display: inline-block !important;
    margin-left: 3px;
  }
}
.mm_date {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 26px;
  height: 27px;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
}

.mm_question {
  font-size: 1.1rem;
  font-weight: 400;
  color: $link;
  text-decoration: none;
  line-height: normal;
}

/*** mm default button ***/

.mm_default_button {
  @include button(auto, auto, 6px 20px, transparent);
  border-color: white;
    &:hover {
      color: $color;
      background: white;
    }
    &._blue {
      color: $link;
      border-color: $link;
        &._active,
        &:hover {
          color: white;
          background: $link;
            .i {
              &._plus {
                background-position: -397px -29px;
              }
              &._share {
                background-position: -388px -145px;
              }
            }
        }
    }
    &._disabled,
    &:disabled {
      border-color: #cdcdcd;
      color: #cdcdcd;
      cursor: not-allowed;
      pointer-events: none;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
}

/*** more link ***/

.mm_more_link {
  width: 100%;
  @include align_c;
    &._type_1 {
      margin-top: 15px;
    }
    &._type_2 {
      margin-top: 55px;
    }
}

/*** section ***/

.mm_section {
  position: relative;
  padding: 50px 0;
}
.mm_section__header {
  margin-bottom: 30px;
    .heading {
      font-size: 42px;
      font-weight: 300;
      color: $link;
      @include upp;
      line-height: normal;
    }
}
.empty {
  .mm_section {
    padding: 0;
  }
}

/*** list ***/

.mm_list {
  display: flex;
  /*justify-content: flex-start;*/
  /*justify-content: space-between;*/
  justify-content: space-evenly;
  flex-wrap: wrap;
  /*
  .mm_news_element:not(:nth-of-type(3n)),
  .mm_vote_element:not(:nth-of-type(3n)) {
    margin-right: 45px;
  }
  .mm_news_element:last-of-type,
  .mm_vote_element:last-of-type {
    margin-right: 0;
  }
  */
}

.mm_controls_list {
  margin-top: 15px;
  font-size: 0;
    &__element {
      @include iblock(top);
        &:not(:last-of-type) {
          margin-right: 30px;
        }
    }
}

/*** social networks ***/

.mm_social_networks {
  font-size: 0;
  @include align_r;
    &._type_1 {
      .mm_social_networks__element {
        width: 60px;
        height: 60px;
          &:not(:last-of-type) {
            margin-right: 35px;
          }
      }
    }
    &._type_2 {
      .mm_social_networks__element {
        width: 24px;
        height: 24px;
        &:not(:last-of-type) {
          margin-right: 15px;
        }
      }
    }
}
.mm_social_networks__element {
  @include iblock(middle);
  @include align_c;
  @include round();
    a {
      @include table;
    }
}

/*** workarea ***/

#mm_workarea {
  padding-top: 50px;
  font-size: 1rem;
  color: $color;
}

.empty {
   #mm_workarea {
    padding: 0;
  }
}

/*** page header ***/

.mm_page_header {
  width: 100%;
}
.mm_page_heading {
  font-size: 42px;
  font-weight: 300;
  @include upp;
}

/*** conctrol ***/

.mm_control {
  @include iblock(top);
  @include noselect;
    label {
      cursor: pointer;
    }
    input {
      display: none;
        &:checked {
          + .value {
            color: white;
            background: $link;
          }
        }
    }
    .value {
      @include iblock(top);
      height: 27px;
      padding: 0 20px;
      font-size: 1rem;
      font-weight: 300;
      color: $link;
      @include align_c;
      @include upp;
      line-height: 27px;
      background: transparent;
      border: 1px solid $link;
      @include smooth(.15s);
    }
}

/*** checkbox ***/

.mm_checkbox {
  @include iblock(top);
  @include noselect;
    label {
      cursor: pointer;
    }
    input {
      display: none;
        &:checked {
          + .mm_checkbox__value {
            .mm_checkbox_button {
              &::before {
                opacity: 1;
              }
            }
          }
        }
    }
    &__value {
      @include table;
      width: auto;
    }
    &__icon,
    &__label {
      @include td(top);
    }
    &__icon {
      width: 15px;
      padding-top: 2px;
    }
    &__label {
      padding-left: 15px;
      font-size: 1rem;
      font-weight: 400;
      color: $link;
      line-height: normal;
      text-transform: none;
    }
}
.mm_checkbox_button {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid $link;
    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 2px;
      display: block;
      width: 9px;
      height: 9px;
      opacity: 0;
      background: $sprite -358px -30px;
      @include smooth(.15s);
    }
}

/*** dropdown ***/

.mm_dropdown {
  position: relative;
  @include iblock(top);
  color: $color;
  font-size: 1rem;
  font-weight: 300;
  @include upp;
    &._active {
      .mm_dropdown__link {
        &::before {
          transform: rotate(-180deg);
        }
      }
      .mm_dropdown_window {
        top: 100%;
        visibility: visible;
        opacity: 1;
      }
      .mm_dropdown__overlay {
        opacity: 1;
        visibility: visible;
      }
    }
    &__link {
      position: relative;
      @include iblock(top);
      height: 27px;
      padding-right: 20px;
      text-decoration: none;
      line-height: 27px;
      &::before {
        content: '';
        position: absolute;
        top: 9px;
        right: 0;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: $link transparent transparent transparent;
        @include smooth(.2s);
      }
    }
    &__overlay {
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      background: rgba(0, 0, 0, 0.7);
      z-index: 101;
      @include smooth(.3s);
    }

    &._left {
      .mm_dropdown_window {
        right: auto;
        left: 0;
      }
    }
}
.mm_dropdown_window {
  position: absolute;
  top: 110%;
  right: 0;
  width: 355px;
  margin-top: 10px;
  padding: 25px;
  @include align_l;
  background: white;
  visibility: hidden;
  opacity: 0;
  z-index: 102;
  @include smooth(.3s);
    &__close {
      position: absolute;
      top: 24px;
      right: 25px;
      width: 36px;
      height: 36px;
      a {
        @include link(100%);
      }
    }
    &__heading {
      margin-bottom: 30px;
      padding-right: 25px;
      font-size: 1rem;
      font-weight: 500;
      @include upp;
    }
    &__container {
      height: 200px;
      font-size: 1rem;
      overflow: hidden;
    }
    &__element {
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
}

/*** tabs ***/

.mm_default_tabs {
  position: relative;
  width: 100%;
    &__list {
      position: relative;
      @include iblock(top);
      font-size: 0;
      list-style: none;
      visibility: visible;
      z-index: 1;
        &::before {
          content: '';
          position: absolute;
          bottom: 2px;
          left: 0;
          display: block;
          width: 100%;
          height: 1px;
          background: $dark_grey;
          z-index: 0;
        }
    }
    &__element {
      position: relative;
      @include iblock(top);
      padding-left: 0;
      font-size: 1.1rem;
      &:not(:last-of-type) {
        margin-right: 50px;
        margin-bottom: 0;
      }
      &::before {
        display: none;
      }
    }
    &__link {
      @include link(auto);
      padding: 0 5px 10px;
      font-size: 1.15rem;
      font-weight: 400;
      color: $link;
      @include upp;
      border-bottom: 5px solid transparent;
        &._active {
          color: $color;
          border-bottom-color: $link;
        }
    }
    &__container {
      padding-top: 40px;
    }
    &__pane {
      width: 100%;
      height: 0;
      opacity: 0;
      overflow: hidden;
      @include smooth(.4s);
        &::before,
        &::after {
          @include fix;
        }
        &._active {
          height: auto;
          visibility: visible;
          opacity: 1;
          overflow: visible;
        }
        .mm_filter {
          margin-top: 0;
        }
    }
}
.empty {
  .mm_default_tabs {
    &__list {
      padding-top:0;
      margin-top: 0;
    }
    &__container {
      padding: 0px;
    }
  }
}


.amberpopup 
{
    .mm_default_tabs {
        &__container {
           padding-top: 0px;
        }  
    }
    .mm_page._narrow {
        margin:0;
        padding: 0px 6px;
        box-shadow:none;
    }
}

/*** form ***/

.mm_default_form {
  max-width: 600px;
  font-size: 1rem;
    &._100 {
      max-width: 100%;
    }
  form {
    display: block;
  }
  &__unit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
  &__item {

    max-width: 400px;
    width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
      &._50 {
        width: calc(50% - 15px);
      }
  }
  &__label {
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: .9rem;
    color: $color;
  }
  .mm_default_button {
    vertical-align: middle;
  }
}
.empty {
   .mm_default_form {
      &__item {
          &:not(:last-of-type) {
            margin-bottom: 20px;
          }
      }
   }
}

.bx-auth-serv-icons form
{
    display: inline-block;
}

/*** radio ***/

.mm_action {
  @include noselect;
    &__label {
      display: block;
      cursor: pointer;
      font-size: 0;
    }
    &__input {
      display: none;
        &:checked {
          + .mm_action__icon {
            &::before {
              opacity: 1;
            }
          }
        }
        &:read-only,
        &:disabled {
          + .mm_action__icon {
              border-color: #cdcdcd;
              &::before {
                background: #cdcdcd;
              }
            }
        }
    }
    &__icon,
    &__value {
      @include iblock(top);
    }
    &__icon {
      width: 18px;
      height: 18px;
      padding: 3px;
      border: 1px solid $link;
        &::before {
          content: '';
          @include link(100%);
          width: 100%;
          background: $link;
          opacity: 0;
          @include smooth(.2s);
        }
    }
    &__value {
      padding: 2px 0 0 10px;
      font-size: .9rem;
      font-weight: 400;
      color: $color;
    }
    &._radio {
      .mm_action__icon {
        @include round;
          &::before {
            @include round;
          }
      }
    }
}

/*** choice control ***/

.mm_choice_control {

  @include noselect;
    &__label {
      display: table;
      table-layout: fixed;
      cursor: pointer;
    }
    &__text {
      &:disabled,
      &:read-only {
        background: #f9f9f9;
        border-color: lighten($grey, 50%);
      }
    }
    &__textarea {
      @include input(160px, 15px);
      &:invalid {
        border-color: $red;
      }
      &:disabled,
      &:read-only {
        background: #f9f9f9;
        border-color: lighten($grey, 50%);
      }
    }
    &__input {
      display: none;
        &:checked {
          + .mm_choice_control__icon {
              .icon::before {
                transform: scale(1);
              }
          }
        }
    }
    &__icon,
    &__value {
      @include td(top);
    }
    &__value {
      padding: 3px 0 0 15px;
      font-size: 1.2rem;
      font-weight: normal;
      color: $color;
    }
    &__icon {
      width: 30px;
    }
    .icon {
      position: relative;
      display: block;
      width: 28px;
      height: 28px;
      border: 1px solid $green;
        &::before{
          content: '';
          position: absolute;
          top: -6px;
          left: 3px;
          display: block;
          width: 30px;
          height: 30px;
          background: $sprite 0 -167px;
          transform: scale(0);
          z-index: 1;
          transition: transform .1s linear;
        }
    }
}

/*** modal ***/

.mm_modal {
  position: relative;
  @include iblock(top);
  width: 100%;
  max-width: 820px;
  min-height: 65px;
  padding: 20px;
  font-size: 1rem;
  color: $color;
  @include align_l;
  background: white;
  overflow: hidden;
    &._share {
      max-width: 600px;
        .mm_social_networks {
          @include align_c;
        }
        .mm_modal__heading {
          max-width: 400px;
          margin-left: auto;
          margin-right: auto;
        }
        .mm_modal__container {
          padding-bottom: 20px;
        }
    }
    &._vote_received {
      max-width: 315px;
    }
    &._expert {
      max-width: 380px;
        .mm_add_expert_control:not(:last-of-type) {
          margin-bottom: 35px;
        }
        ._scrollbar {
          height: 360px;
        }
    }

    &__close {
      position: absolute;
      top: 24px;
      right: 20px;
      width: 20px;
      height: 20px;
      z-index: 2;
        a {
          @include link(100%);
        }
    }
    &__header {
      margin-bottom: 30px;
      padding-right: 25px;
      overflow: hidden;
    }
    &__heading {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 400;
      @include upp;
    }
    &__container {
      width: 100%;
      height: 100%;
      @include inherit;
    }
    ._scrollbar {
      width: 100%;
      height: 100%;
      min-height: 195px;
      overflow: hidden;
    }
}

@media all and (max-width: 768px) {

  .mm_modal {
    height: 100%;
      ._scrollbar {
        height: 85%;
      }
  }

}

/*** expert control ***/

.mm_add_expert_control {
  @include noselect;
    &__label {
      @include table;
      height: auto;
      cursor: pointer;
    }
    &__input {
      display: none;
        &:checked {
          + .mm_add_expert_control__icon {
              .checkbox {
                &::before {
                  opacity: 1;
                }
              }
          }
        }
    }
    &__icon,
    &__value {
      @include td(middle);
    }
    &__icon {
      width: 30px;
        .checkbox {
          position: relative;
          display: block;
          width: 15px;
          height: 15px;
          border: 1px solid $link;
            &::before {
              content: '';
              position: absolute;
              top: 3px;
              left: 2px;
              display: block;
              width: 9px;
              height: 9px;
              opacity: 0;
              background: $sprite -358px -30px;
              transition: all 0.15s linear;
            }
        }
    }
    &__value {
      font-size: 0;
    }
    .mm_expert_image,
    .mm_expert_details {
      @include iblock(top);
    }
    .mm_expert_image {
      width: 54px;
      height: 54px;
      border: 1px solid $grey;
      @include round;
      overflow: hidden;
        img {
          max-width: 53px;
          max-height: 53px;
          @include round;
        }
    }
    .mm_expert_details {
      width: calc(100% - 55px);
      padding-left: 15px;
    }
    .mm_expert_name,
    .mm_expert_position {
      display: block;
    }
    .mm_expert_name {
      font-size: 1.15rem;
      color: $link;
    }
    .mm_expert_position {
      font-size: .9rem;
      font-weight: 500;
      font-style: italic;
    }
}




/*** keyframes ***/

@keyframes zoOm{
  0%{transform:scale(1)}
  50%{transform:scale(1.2)}
  100%{transform:scale(1)}
}

