.jq-selectbox {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
	font-size: 13px;
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}
.jq-selectbox__select {
	height: 23px;
	padding: 0 5px 0 8px;
	color: white;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	padding-right: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 21px;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 100%;
	background: transparent;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 8px;
	right: 10px;
	width: 9px;
	height: 6px;
	background: url(../images/etc/sprite.png) -1px -86px no-repeat;
}
.jq-selectbox.opened .jq-selectbox__trigger-arrow {
    border-width: 0 4px 7px 4px;
    border-color: transparent transparent #979799 transparent;
}
.jq-selectbox__dropdown {
	top: 23px;
	width: 100%;
	margin: 0;
	padding: 0;
	font-weight: 100;
}
.jq-selectbox__dropdown ul {
	width: 100%;
	max-height: 230px;
	margin: 0!important;
	padding: 0!important;
	background: rgba(0,0,0,0.3);
}
.jq-selectbox__dropdown ul li {
	margin: 0!important;
	padding: 5px 10px;
	color: white;;
}
.jq-selectbox__dropdown ul li:hover {
	text-decoration: underline ;
}
.jq-selectbox__dropdown ul li::before {
	display: none!important;
}
.jq-selectbox__search {
	display: none;
	width: 100%;
	margin: 2px 0;
}
.jq-selectbox__search input[type="text"],
.jq-selectbox__search input[type="search"] {
	display: none;
	width: 100%;
	height: 42px;
	padding: 0 10px 0 15px;
	font-size: 1.1em;
	color: #2c2d32;
	line-height: 42px;
	background: #fff;
	border: 2px solid #e7e7e7;
	outline: 0;
	transition: all .2s ease-in-out;
}
.jq-selectbox__search input[type="text"]:focus,
.jq-selectbox__search input[type="search"]:focus{
	border-color: #56d100;
	transition: all .2s ease-in-out;
}