/*
	CSS Grid v.2
	-------------------
	Developed by Maiorov Maksim
	mm@devlp.ru
	2017 | Kaliningrad, Russia

*/

/*

xxxl    - min width: 1367px
xxl     - min width: 1366px
xl      - min width: 1200px
l       - min width: 991px
m       - min width: 767px
s       - min width: 599px
xs      - min width: 481px
xxs     - min width: 360px

*/


/*** grid system ***/

/*** vars ***/

$width:     1190px;
$margin:    20px;
$padding:   $margin/2;

/*** grid basics ***/

.mm_group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: $width;
  margin: 0 auto;
    &._no_padding {
      > .mm_cell {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &._no_margin {
      margin-top: 0;
      > .mm_cell {
        margin: 0;
      }
    }
    &._middle {
      align-items: center;
    }
    &._bottom {
      align-items: flex-end;
    }
    &._center {
      justify-content: center;
    }
    &._between {
      justify-content: space-between;
    }
    &._around {
      justify-content: space-around;
    }
}
.mm_cell {
  width: 100%;
  padding-left: $padding;
  padding-right: $padding;
  box-sizing: border-box;
}

/*** grid responsive ***/

//xxs
@media all and (min-width: 320px) {

  /*** grid basics ***/

  .mm_group {
    max-width: 100%;
  }
  .mm_cell {
    //x2-extra-small
    &._xxs_12 {
      width: 100%;
    }
    &._xxs_11 {
      width: 91.66%;
    }
    &._xxs_10 {
      width: 83.33%;
    }
    &._xxs_9 {
      width: 75%;
    }
    &._xxs_8 {
      width: 66.66%;
    }
    &._xxs_7 {
      width: 58.33%;
    }
    &._xxs_6 {
      width: 50%;
    }
    &._xxs_5 {
      width: 41.66%;
    }
    &._xxs_4 {
      width: 33.33%;
    }
    &._xxs_3 {
      width: 25%;
    }
    &._xxs_2 {
      width: 16.66%;
    }
    &._xxs_1 {
      width: 8.333%;
    }
  }
  ._xxs_show {
    display: inline-block!important;
  }
  ._xxs_none {
    display: none!important;
  }

}

//xs
@media all and (min-width: 481px) {

  /*** grid basics ***/

  .mm_group {
    max-width:  480px;
  }
  .mm_cell {
    //extrasmall
    &._xs_12 {
      width: 100%;
    }
    &._xs_11 {
      width: 91.66%;
    }
    &._xs_10 {
      width: 83.33%;
    }
    &._xs_9 {
      width: 75%;
    }
    &._xs_8 {
      width: 66.66%;
    }
    &._xs_7 {
      width: 58.33%;
    }
    &._xs_6 {
      width: 50%;
    }
    &._xs_5 {
      width: 41.66%;
    }
    &._xs_4 {
      width: 33.33%;
    }
    &._xs_3 {
      width: 25%;
    }
    &._xs_2 {
      width: 16.66%;
    }
    &._xs_1 {
      width: 8.333%;
    }
  }
  ._xs_show {
    display: inline-block!important;
  }
  ._xs_none {
    display: none!important;
  }

}

//s
@media all and (min-width: 600px) {

  /*** grid basics ***/

  .mm_group {
    max-width:  600px;
  }
  .mm_cell {
    //small
    &._s_12 {
      width: 100%;
    }
    &._s_11 {
      width: 91.66%;
    }
    &._s_10 {
      width: 83.33%;
    }
    &._s_9 {
      width: 75%;
    }
    &._s_8 {
      width: 66.66%;
    }
    &._s_7 {
      width: 58.33%;
    }
    &._s_6 {
      width: 50%;
    }
    &._s_5 {
      width: 41.66%;
    }
    &._s_4 {
      width: 33.33%;
    }
    &._s_3 {
      width: 25%;
    }
    &._s_2 {
      width: 16.66%;
    }
    &._s_1 {
      width: 8.333%;
    }
  }
  ._s_show {
    display: inline-block!important;
  }
  ._s_none {
    display: none!important;
  }

}

//m
@media all and (min-width: 768px) {

  /*** grid basics ***/

  .mm_group {
    max-width:  750px;
  }
  .mm_cell {
    //medium
    &._m_12 {
      width: 100%;
    }
    &._m_11 {
      width: 91.66%;
    }
    &._m_10 {
      width: 83.33%;
    }
    &._m_9 {
      width: 75%;
    }
    &._m_8 {
      width: 66.66%;
    }
    &._m_7 {
      width: 58.33%;
    }
    &._m_6 {
      width: 50%;
    }
    &._m_5 {
      width: 41.66%;
    }
    &._m_4 {
      width: 33.33%;
    }
    &._m_3 {
      width: 25%;
    }
    &._m_2 {
      width: 16.66%;
    }
    &._m_1 {
      width: 8.333%;
    }
  }
  ._m_show {
    display: inline-block!important;
  }
  ._m_none {
    display: none!important;
  }

}

//l
@media all and (min-width: 992px) {

  /*** grid basics ***/

  .mm_group {
    max-width:  970px;
  }
  .mm_cell {
    //xlarge
    &._l_12 {
      width: 100%;
    }
    &._l_11 {
      width: 91.66%;
    }
    &._l_10 {
      width: 83.33%;
    }
    &._l_9 {
      width: 75%;
    }
    &._l_8 {
      width: 66.66%;
    }
    &._l_7 {
      width: 58.33%;
    }
    &._l_6 {
      width: 50%;
    }
    &._l_5 {
      width: 41.66%;
    }
    &._l_4 {
      width: 33.33%;
    }
    &._l_3 {
      width: 25%;
    }
    &._l_2 {
      width: 16.66%;
    }
    &._l_1 {
      width: 8.333%;
    }
  }
  ._l_show {
    display: inline-block!important;
  }
  ._l_none {
    display: none!important;
  }

}

//xl-
@media all and (min-width: 1200px) {

  /*** grid basics ***/

  .mm_group {
    max-width:  $width;
  }
  .mm_cell {
    //xlarge
    &._xl_12 {
      width: 100%;
    }
    &._xl_11 {
      width: 91.66%;
    }
    &._xl_10 {
      width: 83.33%;
    }
    &._xl_9 {
      width: 75%;
    }
    &._xl_8 {
      width: 66.66%;
    }
    &._xl_7 {
      width: 58.33%;
    }
    &._xl_6 {
      width: 50%;
    }
    &._xl_5 {
      width: 41.66%;
    }
    &._xl_4 {
      width: 33.33%;
    }
    &._xl_3 {
      width: 25%;
    }
    &._xl_2 {
      width: 16.66%;
    }
    &._xl_1 {
      width: 8.333%;
    }
  }
  ._xl_show {
    display: inline-block!important;
  }
  ._xl_none {
    display: none!important;
  }

}

//xxl
@media all and (min-width: 1366px) {

  /*** grid basics ***/

  .mm_group {
    max-width: $width;
  }
  .mm_cell {
    //2extra-large
    &._xxl_12 {
      width: 100%;
    }
    &._xxl_11 {
      width: 91.66%;
    }
    &._xxl_10 {
      width: 83.33%;
    }
    &._xxl_9 {
      width: 75%;
    }
    &._xxl_8 {
      width: 66.66%;
    }
    &._xxl_7 {
      width: 58.33%;
    }
    &._xxl_6 {
      width: 50%;
    }
    &._xxl_5 {
      width: 41.66%;
    }
    &._xxl_4 {
      width: 33.33%;
    }
    &._xxl_3 {
      width: 25%;
    }
    &._xxl_2 {
      width: 16.66%;
    }
    &._xxl_1 {
      width: 8.333%;
    }
  }
  ._xxl_show {
    display: inline-block!important;
  }
  ._xxl_none {
    display: none!important;
  }

}

//xxxl
@media all and (min-width: 1367px) {

  /*** grid basics ***/

  .mm_group {
    max-width: $width;
  }
  .mm_cell {
    //3extra-large
    &._xxxl_12 {
      width: 100%;
    }
    &._xxxl_11 {
      width: 91.66%;
    }
    &._xxxl_10 {
      width: 83.33%;
    }
    &._xxxl_9 {
      width: 75%;
    }
    &._xxxl_8 {
      width: 66.66%;
    }
    &._xxxl_7 {
      width: 58.33%;
    }
    &._xxxl_6 {
      width: 50%;
    }
    &._xxxl_5 {
      width: 41.66%;
    }
    &._xxxl_4 {
      width: 33.33%;
    }
    &._xxxl_3 {
      width: 25%;
    }
    &._xxxl_2 {
      width: 16.66%;
    }
    &._xxxl_1 {
      width: 8.333%;
    }
  }
  ._xxxl_show {
    display: inline-block!important;
  }
  ._xxxl_none {
    display: none!important;
  }

}


/*
	CSS Grid v.2
	-------------------
	Developed by Maiorov Maksim
	mm@devlp.ru
	2017 | Kaliningrad, Russia

*/