/*
	CSS Grid v.2
	-------------------
	Developed by Maiorov Maksim
	mm@devlp.ru
	2017 | Kaliningrad, Russia

*/
/*

xxxl    - min width: 1367px
xxl     - min width: 1366px
xl      - min width: 1200px
l       - min width: 991px
m       - min width: 767px
s       - min width: 599px
xs      - min width: 481px
xxs     - min width: 360px

*/
/*** grid system ***/
/*** vars ***/
/*** grid basics ***/
.mm_group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1190px;
  margin: 0 auto; }
  .mm_group._no_padding > .mm_cell {
    padding-left: 0;
    padding-right: 0; }
  .mm_group._no_margin {
    margin-top: 0; }
    .mm_group._no_margin > .mm_cell {
      margin: 0; }
  .mm_group._middle {
    align-items: center; }
  .mm_group._bottom {
    align-items: flex-end; }
  .mm_group._center {
    justify-content: center; }
  .mm_group._between {
    justify-content: space-between; }
  .mm_group._around {
    justify-content: space-around; }

.mm_cell {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box; }

/*** grid responsive ***/
@media all and (min-width: 320px) {
  /*** grid basics ***/
  .mm_group {
    max-width: 100%; }

  .mm_cell._xxs_12 {
    width: 100%; }
  .mm_cell._xxs_11 {
    width: 91.66%; }
  .mm_cell._xxs_10 {
    width: 83.33%; }
  .mm_cell._xxs_9 {
    width: 75%; }
  .mm_cell._xxs_8 {
    width: 66.66%; }
  .mm_cell._xxs_7 {
    width: 58.33%; }
  .mm_cell._xxs_6 {
    width: 50%; }
  .mm_cell._xxs_5 {
    width: 41.66%; }
  .mm_cell._xxs_4 {
    width: 33.33%; }
  .mm_cell._xxs_3 {
    width: 25%; }
  .mm_cell._xxs_2 {
    width: 16.66%; }
  .mm_cell._xxs_1 {
    width: 8.333%; }

  ._xxs_show {
    display: inline-block !important; }

  ._xxs_none {
    display: none !important; } }
@media all and (min-width: 481px) {
  /*** grid basics ***/
  .mm_group {
    max-width: 480px; }

  .mm_cell._xs_12 {
    width: 100%; }
  .mm_cell._xs_11 {
    width: 91.66%; }
  .mm_cell._xs_10 {
    width: 83.33%; }
  .mm_cell._xs_9 {
    width: 75%; }
  .mm_cell._xs_8 {
    width: 66.66%; }
  .mm_cell._xs_7 {
    width: 58.33%; }
  .mm_cell._xs_6 {
    width: 50%; }
  .mm_cell._xs_5 {
    width: 41.66%; }
  .mm_cell._xs_4 {
    width: 33.33%; }
  .mm_cell._xs_3 {
    width: 25%; }
  .mm_cell._xs_2 {
    width: 16.66%; }
  .mm_cell._xs_1 {
    width: 8.333%; }

  ._xs_show {
    display: inline-block !important; }

  ._xs_none {
    display: none !important; } }
@media all and (min-width: 600px) {
  /*** grid basics ***/
  .mm_group {
    max-width: 600px; }

  .mm_cell._s_12 {
    width: 100%; }
  .mm_cell._s_11 {
    width: 91.66%; }
  .mm_cell._s_10 {
    width: 83.33%; }
  .mm_cell._s_9 {
    width: 75%; }
  .mm_cell._s_8 {
    width: 66.66%; }
  .mm_cell._s_7 {
    width: 58.33%; }
  .mm_cell._s_6 {
    width: 50%; }
  .mm_cell._s_5 {
    width: 41.66%; }
  .mm_cell._s_4 {
    width: 33.33%; }
  .mm_cell._s_3 {
    width: 25%; }
  .mm_cell._s_2 {
    width: 16.66%; }
  .mm_cell._s_1 {
    width: 8.333%; }

  ._s_show {
    display: inline-block !important; }

  ._s_none {
    display: none !important; } }
@media all and (min-width: 768px) {
  /*** grid basics ***/
  .mm_group {
    max-width: 750px; }

  .mm_cell._m_12 {
    width: 100%; }
  .mm_cell._m_11 {
    width: 91.66%; }
  .mm_cell._m_10 {
    width: 83.33%; }
  .mm_cell._m_9 {
    width: 75%; }
  .mm_cell._m_8 {
    width: 66.66%; }
  .mm_cell._m_7 {
    width: 58.33%; }
  .mm_cell._m_6 {
    width: 50%; }
  .mm_cell._m_5 {
    width: 41.66%; }
  .mm_cell._m_4 {
    width: 33.33%; }
  .mm_cell._m_3 {
    width: 25%; }
  .mm_cell._m_2 {
    width: 16.66%; }
  .mm_cell._m_1 {
    width: 8.333%; }

  ._m_show {
    display: inline-block !important; }

  ._m_none {
    display: none !important; } }
@media all and (min-width: 992px) {
  /*** grid basics ***/
  .mm_group {
    max-width: 970px; }

  .mm_cell._l_12 {
    width: 100%; }
  .mm_cell._l_11 {
    width: 91.66%; }
  .mm_cell._l_10 {
    width: 83.33%; }
  .mm_cell._l_9 {
    width: 75%; }
  .mm_cell._l_8 {
    width: 66.66%; }
  .mm_cell._l_7 {
    width: 58.33%; }
  .mm_cell._l_6 {
    width: 50%; }
  .mm_cell._l_5 {
    width: 41.66%; }
  .mm_cell._l_4 {
    width: 33.33%; }
  .mm_cell._l_3 {
    width: 25%; }
  .mm_cell._l_2 {
    width: 16.66%; }
  .mm_cell._l_1 {
    width: 8.333%; }

  ._l_show {
    display: inline-block !important; }

  ._l_none {
    display: none !important; } }
@media all and (min-width: 1200px) {
  /*** grid basics ***/
  .mm_group {
    max-width: 1190px; }

  .mm_cell._xl_12 {
    width: 100%; }
  .mm_cell._xl_11 {
    width: 91.66%; }
  .mm_cell._xl_10 {
    width: 83.33%; }
  .mm_cell._xl_9 {
    width: 75%; }
  .mm_cell._xl_8 {
    width: 66.66%; }
  .mm_cell._xl_7 {
    width: 58.33%; }
  .mm_cell._xl_6 {
    width: 50%; }
  .mm_cell._xl_5 {
    width: 41.66%; }
  .mm_cell._xl_4 {
    width: 33.33%; }
  .mm_cell._xl_3 {
    width: 25%; }
  .mm_cell._xl_2 {
    width: 16.66%; }
  .mm_cell._xl_1 {
    width: 8.333%; }

  ._xl_show {
    display: inline-block !important; }

  ._xl_none {
    display: none !important; } }
@media all and (min-width: 1366px) {
  /*** grid basics ***/
  .mm_group {
    max-width: 1190px; }

  .mm_cell._xxl_12 {
    width: 100%; }
  .mm_cell._xxl_11 {
    width: 91.66%; }
  .mm_cell._xxl_10 {
    width: 83.33%; }
  .mm_cell._xxl_9 {
    width: 75%; }
  .mm_cell._xxl_8 {
    width: 66.66%; }
  .mm_cell._xxl_7 {
    width: 58.33%; }
  .mm_cell._xxl_6 {
    width: 50%; }
  .mm_cell._xxl_5 {
    width: 41.66%; }
  .mm_cell._xxl_4 {
    width: 33.33%; }
  .mm_cell._xxl_3 {
    width: 25%; }
  .mm_cell._xxl_2 {
    width: 16.66%; }
  .mm_cell._xxl_1 {
    width: 8.333%; }

  ._xxl_show {
    display: inline-block !important; }

  ._xxl_none {
    display: none !important; } }
@media all and (min-width: 1367px) {
  /*** grid basics ***/
  .mm_group {
    max-width: 1190px; }

  .mm_cell._xxxl_12 {
    width: 100%; }
  .mm_cell._xxxl_11 {
    width: 91.66%; }
  .mm_cell._xxxl_10 {
    width: 83.33%; }
  .mm_cell._xxxl_9 {
    width: 75%; }
  .mm_cell._xxxl_8 {
    width: 66.66%; }
  .mm_cell._xxxl_7 {
    width: 58.33%; }
  .mm_cell._xxxl_6 {
    width: 50%; }
  .mm_cell._xxxl_5 {
    width: 41.66%; }
  .mm_cell._xxxl_4 {
    width: 33.33%; }
  .mm_cell._xxxl_3 {
    width: 25%; }
  .mm_cell._xxxl_2 {
    width: 16.66%; }
  .mm_cell._xxxl_1 {
    width: 8.333%; }

  ._xxxl_show {
    display: inline-block !important; }

  ._xxxl_none {
    display: none !important; } }
/*
	CSS Grid v.2
	-------------------
	Developed by Maiorov Maksim
	mm@devlp.ru
	2017 | Kaliningrad, Russia

*/

/*# sourceMappingURL=grid.css.map */
