


@media all and (min-width: 1368px) {
}

@media all and (max-width: 1367px) {

}

@media all and (max-width: 1199px) {

  /*** main ***/

  .mm_list {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    /*
    .mm_news_element,
    .mm_vote_element {
      &:nth-of-type(3n),
      &:nth-of-type(3n) {
        margin-right: 45px;
      }
      &:not(:nth-of-type(odd)),
      &:not(:nth-of-type(odd)) {
        margin-right: 0;
      }
    }
    */
  }

  .mm_news_element {
    margin-bottom: 45px;
  }
  .mm_more_link._type_2 {
    margin-top: 15px;
  }

  .mm_footer__section {
      &._developers,
      &._operator{
        margin-bottom: 40px;
      }
  }

  /*** list ***/

  .mm_stats_list__element {
    .label {
      font-size: .9rem;
    }
    .figure {
      font-size: 1.1rem;
    }
  }

}

@media all and (min-width: 991px) {
  /* mobile**/
  .none_mobile {
    display: block !important;
  }
  .for_mobile {
    display: none !important;
  }
}
@media all and (max-width: 991px) {


  /* mobile**/
  .none_mobile {
    display: none !important;
  }
  .for_mobile {
    display: block !important;
  }

  /*** common *** /

  .mm_list {
    justify-content: center;
    .mm_news_element,
    .mm_vote_element {
      &:not(:nth-of-type(3n)),
      &:not(:nth-of-type(3n)) {
        margin-right: 10px;
      }
      &:nth-of-type(3n),
      &:nth-of-type(3n) {
        margin-right: 10px;
      }
      &:not(:nth-of-type(odd)),
      &:not(:nth-of-type(odd)) {
        margin-right: 0;
      }
    }
  }
  */

  /*** main ***/

  .mm_header_logotype__label {
    padding: 0 25px 0 0;
    font-size: 16px;
    border-right: 0;
  }
  .mm_header_logotype__desc {
    display: block;
    padding-left: 0;
    font-size: .7rem;
  }

  .mm_banner {
    &._huge {
      .mm_banner__heading {
        font-size: 38px;
      }
    }
    &._short {
      .mm_banner__heading {
        font-size: 30px;
      }
    }
  }
  .mm_banner_features__element:not(:last-of-type) {
    margin-right: 70px;
  }
  .mm_banner_stats__element:not(:last-of-type) {
    margin-right: 40px;
  }


  .mm_vote_element,
  .mm_news_element {
    margin-bottom: 10px;
  }

  /*** list ***/

  .mm_applied_filter,
  .mm_applied_filter__label,
  .mm_applied_filter__value {
    display: block;
  }
  .mm_applied_filter__label {
    width: 100%;
    margin-bottom: 10px;
  }
  .mm_applied_filter__value {
    padding-left: 0;
  }

  .mm_stats_list {
    display: block;
    .owl-stage-outer {
      z-index: 1;
    }
    .owl-nav {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      .owl-stage-outer {
        z-index: 1;
      }
      .owl-prev,
      .owl-next {
        position: absolute;
        top: 50%;
        width: 10px;
        height: 16px;
        margin-top: -8px;
        font-size: 2rem;
        text-align: center;
        z-index: 1;
          &::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
          }
      }
    }
    .owl-prev {
      left: 0;
        &::before {
          border-width: 8px 10px 8px 0;
          border-color: transparent #0071bc transparent transparent;
        }
    }
    .owl-next {
      right: 0;
        &:before {
          border-width: 8px 0 8px 10px;
          border-color: transparent transparent transparent #0071bc;
        }
    }
  }
  .mm_stats_list__element {
    width: 100%;
    text-align: center;
      .label {
        font-size: 1.2rem;
      }
      .figure {
        font-size: 1.4rem;
      }
  }

  /*** vote ***/

  .mm_expert_grade__element {
    &:not(:nth-of-type(4n)) {
      margin-right: 30px;
    }
  }

}

@media all and (max-width: 767px) {

  /*** common ***  /

  .mm_list {
    justify-content: center;
    .mm_news_element,
    .mm_vote_element {
      margin-left: auto;
      &:not(:nth-of-type(3n)),
      &:not(:nth-of-type(3n)) {
        margin-right: auto;
      }
      &:nth-of-type(3n),
      &:nth-of-type(3n) {
        margin-right: auto;
      }
      &:not(:nth-of-type(odd)),
      &:not(:nth-of-type(odd)) {
        margin-right: auto;
      }
    }
  }
   */

  /*** main ***/

  .mm_banner {
    &._huge {
      .mm_banner__heading {
        font-size: 35px;
      }
    }
    &._short {
      .mm_banner__heading {
        font-size: 24px;
      }
    }
  }

  .mm_banner_features__element:not(:last-of-type) {
    margin-right: 40px;
  }
  .mm_banner_stats__element:not(:last-of-type) {
    margin-right: 20px;
  }
  .mm_banner_stats__figure {
    font-size: 26px;
  }
  .mm_banner_stats__label {
    font-size: .9rem;
  }

  .mm_list {
    justify-content: center;
  }

  .mm_vote_element,
  .mm_news_element {
    margin-bottom: 45px;
  }

  .mm_section {
    padding: 35px 0;
  }
  .mm_section__header {
    text-align: center;
  }

  .mm_share__label,
  .mm_share__socials {
    display: block;
    text-align: center;
  }
  .mm_share__label {
    margin: 0 0 30px;
  }
  .mm_social_networks {
    &._type_1 {
      text-align: center;
    }
  }

  .mm_footer__section {
    &._developers,
    &._operator,
    &._support,
    &._logo {
      width: 100%;
      text-align: center;
    }
    &._logo {
      max-width: 260px;
      margin-left: auto;
      margin-right: auto;
    }
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }

  /*** list ***/

  #mm_workarea {
    padding-top: 25px;
  }
  .mm_page_heading {
    font-size: 35px;
  }

  .mm_filter {
    padding: 10px 15px;
      &__element {
        width: 100%;
        text-align: center;
          &:not(:last-of-type) {
            margin-bottom: 15px;
          }
      }
  }
  .mm_applied_filter__value {
    .mm_applied_filter_element {
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }

  /*** auth & profile ***/

  .mm_add_vote {
    position: static;
    top: auto;
    right: auto;
    margin-bottom: 40px;
  }

  .mm_page {
    margin-bottom: 45px;
    padding: 15px 20px 35px;
  }

  /*** form ***/

  .mm_default_form {
    max-width: 100%;
  }
  .mm_input {
    input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]) {
      max-width: 100%;
    }
  }

  /*** vote ***/

  .mm_back {
    top: 15px;
    right: 20px;
  }
  .mm_vote_label {
    margin-left: -20px;
    padding-left: 20px;
  }
  .mm_expert_grade__element {
    &:nth-of-type(4n) {
      margin-right: 30px;
    }
  }

}

@media all and (max-width: 599px) {

  /***  ***/

  blockquote {
    padding-left: 30px;
    font-size: 1rem;
  }

  /*** main ***/

  .mm_header_controls {
    display: none;
  }

  .mm_nav_controls {
    display: block;
  }

  .mm_banner {
    &._huge {
      height: auto;
      padding: 40px 0;
        .mm_banner__heading {
          font-size: 48px;
        }
    }
    &._short {
      height: auto;
      padding: 30px 0;
        .mm_banner__heading {
          font-size: 35px;
        }
    }
  }
  .mm_banner_features__element {
    display: block;
      &:not(:last-of-type) {
        margin: 0 0 40px;
      }
  }
  .mm_banner_stats__element {
    width: 50%;
      &:not(:last-of-type) {
        margin-right: 0;
      }
      &:first-child {
        margin-bottom: 30px;
      }
  }
  .mm_banner_stats__figure {
    font-size: 35px;
  }
  .mm_banner_stats__label {
    font-size: 1rem;
  }

  /*** profile ***/

  .mm_default_tabs__pane {
    .mm_filter__element {
      text-align: left;
    }
    .mm_control {
      display: block;
        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
    }
  }

  /*** vote ***/

  .mm_back,
  .mm_breadcrumbs {
    display: none;
  }
  .mm_expert_grade__element {
    &:not(:nth-of-type(4n)),
    &:nth-of-type(4n) {
      margin-right: 5px;
    }
  }
  .mm_vote_choice__options {
    .mm_vote_option {
      width: 200px;
        &:not(:last-of-type) {
          margin-right: 10px;
        }
    }
  }
  .mm_vote_stats:not(:last-of-type) {
    margin-right: 80px;
  }

  /*** vote add ***/

  .mm_chosen_filters {
    .mm_applied_filter_element {
      margin-right: 10px;
    }
  }

  .mm_vote_add_section {
    .mm_default_form__item {
      &._50 {
        width: 100%;
          &:not(:last-of-type) {
            margin-bottom: 26px;
          }
      }
    }
  }

  .mm_expert_list {
    &__element {
      display: block;
    }
    &__expert,
    &__desc {
      display: block;
      width: 100%;
    }
    &__expert {
      margin-bottom: 10px;
        .mm_expert_grade__element {
          position: relative;
          width: 100%;
          min-height: 100px;
          margin: 0!important;
          padding: 0 25px 0 110px;
          font-size: 0;
          text-align: left;
            &_image {
              position: absolute;
              top: 0;
              left: 0;
              margin: 0;
            }
            &_remove {
              position: absolute;
              top: 2px;
              right: 0;
              margin: 0;
            }
        }
    }
    &__desc {
      padding-left: 0;
    }
  }



}

@media all and (max-width: 481px) {

  /*** common ***/

  .mm_page_heading {
    font-size: 30px;
  }
  .mm_narrow__heading {
    font-size: 28px;
  }

  .mm_default_button {
    span.value {
      max-width: calc(100% - 25px);
      font-size: 1rem;
    }
  }

  /*** control ***/

  .mm_action__value {
    max-width: calc(100% - 25px);
  }

  /*** main ***/

  #mm_header {
    padding: 0;
  }
  #mm_navigation {
    padding: 20px;
  }
  .mm_navigation_close_button {
    top: 20px;
    right: 20px;
  }
  .mm_navigation__link:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .mm_banner {
    &._huge {
      .mm_banner__heading {
        font-size: 40px;
      }
    }
  }

  .mm_vote_element {
    width: 100%;
    max-width: 360px;
    height: auto;
  }
  .mm_vote_element__image {
    height: auto;
  }
  .mm_vote_element__content {
    height: auto;
    margin-bottom: 30px;
    padding: 5px 10px;
  }
  .mm_vote_element__summ {
    padding: 0 10px 10px;
  }
  .mm_vote_element__summary {
    padding: 0 10px;
  }

  .mm_news_element {
    width: 100%;
    max-width: 360px;
    height: auto;
    padding: 10px 10px 45px;
  }
  .mm_news_element__preview {
    padding-bottom: 40px;
  }
  .mm_news_element__share {
    padding: 0 10px;
  }

  .mm_share__heading {
    font-size: 1rem;
  }
  .mm_social_networks {
    &._type_1 {
      .mm_social_networks__element {
        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
    &._type_2 {
      .mm_social_networks__element {
        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }

  /*** list ***/

  .mm_stats_list__element {
    .label {
      font-size: 1rem;
    }
    .figure {
      font-size: 1.1rem;
    }
  }

  .mm_filter__element {
    .mm_control,
    .mm_dropdown {
      width: 100%;
      &:not(:last-of-type) {
        margin: 0 0 15px;
      }
    }
    .mm_control {
      .value {
        width: 100%;
      }
    }
  }
  .mm_dropdown_window {
    right: auto;
    left: 50%;
    width: 300px;
    margin-left: -150px;
  }
  .mm_dropdown {
    &._left {
      width: 100%;
        .mm_dropdown_window {
          left: 50%;
          margin-left: -150px;
        }
    }
  }

  /*** tabs ***/

  .mm_default_tabs {
    &__list {
      width: 100%;
      text-align: center;
    }
    &__element {
      width: calc(50% - 16px);
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
    &__link {
      font-size: .9rem;
    }
  }

  /*** form ***/

  .mm_default_form {
    &__item {
      &._50 {
        width: 100%;
        &:not(:last-of-type) {
          margin: 0 0 26px;
        }
      }
      .mm_default_button {
        width: 100%;
        &:not(:last-child) {
          margin: 0 0 26px;
        }
      }
    }
  }

  /*** profile ***/

  .mm_add_vote {
    width: 100%;
    .mm_default_button {
      width: 100%;
      font-size: 1rem;
    }
  }

  /*** vote ***/

  .mm_vote_label {
    display: table;
    width: 100%;
    margin-right: -20px;
    table-layout: fixed;
    &__icon,
    &__value {
      display: table-cell;
    }
    &__icon {
      width: 30px;
    }
  }
  .mm_expert_list {
    .owl-stage-outer {
      z-index: 1;
    }
    .owl-nav {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      .owl-stage-outer {
        z-index: 1;
      }
      .owl-prev,
      .owl-next {
        position: absolute;
        top: 50%;
        width: 10px;
        height: 16px;
        margin-top: -8px;
        font-size: 2rem;
        text-align: center;
        z-index: 1;
        &::before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
        }
      }
    }
    .owl-prev {
      left: 0;
      &::before {
        border-width: 8px 10px 8px 0;
        border-color: transparent #0071bc transparent transparent;
      }
    }
    .owl-next {
      right: 0;
      &:before {
        border-width: 8px 0 8px 10px;
        border-color: transparent transparent transparent #0071bc;
      }
    }
  }
  .mm_expert_grade__element {
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:not(:nth-of-type(4n)),
    &:nth-of-type(4n) {
      margin-right: auto;
    }
  }
  .mm_vote_choice__options {
    .mm_vote_option {
      &:not(:last-of-type) {
        margin: 0 0 20px;
      }
    }
  }

  .mm_vote_controls {
    display: block;
    text-align: center;
    .mm_default_button {
      &:not(:last-of-type) {
        margin: 0 0 20px;
      }
    }
  }

  .mm_vote_stats {
    display: block;
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  /*** vote add ***/

  .mm_vote_add_controls__control {
    display: block;
      &:not(:last-of-type) {
        margin: 0 0 15px;
      }
  }
  .mm_expert_list {
    &__expert {
      margin-bottom: 10px;
      .mm_expert_grade__element {
        &_speciality {
          font-size: .7rem;
        }
      }
    }
  }
  .mm_wysiwyg_section {
    &._preview,
    &._full {
      height: 200px;
    }
  }

  /*** modal ***/

  .mm_modal {
    &._share {
      .mm_modal__heading {
        font-size: 1rem;
      }
    }
    &._expert {
      .mm_modal__heading {
        font-size: 1.2rem;
      }
      ._scrollbar {
        height: 270px;
      }
    }
  }

  /*** expert control ***/

  .mm_add_expert_control {
    .mm_expert_name {
      font-size: .8rem;
    }
    .mm_expert_position {
      font-size: .8rem;
    }
  }

  /*** 404 ***/

  .mm_not_found {
    padding-bottom: 10px;
    &__heading {
      font-size: 8rem;
    }
    &__sub {
      font-size: 1.3rem;
    }
  }


}

@media all and (max-width: 360px) {

  /*** main ***/

  .mm_banner {
    &._huge {
      .mm_banner__heading {
        font-size: 35px;
      }
    }
    &._short {
      .mm_banner__heading {
        font-size: 31px;
      }
    }
  }

  .mm_banner_stats__figure {
    font-size: 27px;
  }
  .mm_banner_stats__label {
    font-size: .8rem;
  }

  .mm_vote_element__summary {
    span.value {
      font-size: .9rem;
    }
    .estimated_time {
      width: 150px;
    }
    .comments {
      margin-left: 15px;
    }
  }

  .mm_social_networks {
    &._type_1 {
      .mm_social_networks__element {
        width: 40px;
        height: 40px;
          &:not(:last-of-type) {
            margin-right: 20px;
          }
      }
    }
  }

  .mm_share {
    padding-bottom: 15px;
  }

  .i {
    &._vk_big {
      width: 40px;
      height: 40px;
      background-position: -140px -142px;
    }
    &._fb_big {
      width: 40px;
      height: 40px;
      background-position: -184px -142px;
    }
    &._ok_big {
      width: 40px;
      height: 40px;
      background-position: -228px -142px;
    }
    &._tw_big {
      width: 40px;
      height: 40px;
      background-position: -272px -142px;
    }
    &._tg_big {
      width: 40px;
      height: 40px;
      background-position: -316px -142px;
    }
  }

  /*** list ***/

  .mm_stats_list__element {
    .label {
      font-size: .9rem;
    }
    .figure {
      font-size: 1rem;
    }
  }

}

