/*
  Variables
*/

$size           :      16px;
$font           :      'Rubik', sans-serif;
$color          :      #333333;
$grey           :      #4d4d4d;
$red            :      #ff0000;
$link           :      #0071bc;
$orange         :      #ff4d17;
$green          :      #009685;
$background     :      #f7f7f7;
$dark_grey      :      #808080;
$yellow         :      #ffffdb;
$to             :      #009245;

$sprite: url(images/sprite.png) no-repeat;

/*
  Mixins
*/

@mixin fix {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  visibility: hidden;
  clear: both;
}

@mixin table {
  display: table;
  width: 100%;
  height: 100%;
}
@mixin td($align){
  display: table-cell;
  vertical-align: $align;
}

@mixin iblock($align) {
  display: inline-block;
  vertical-align: $align;
}

@mixin noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@mixin align_l {
  text-align: left;
}
@mixin align_c {
  text-align: center;
}
@mixin align_r {
  text-align: right;
}
@mixin align_j {
  text-align: justify;
}
@mixin bold {
  font-weight: bold;
}
@mixin upp {
  text-transform: uppercase;
}
@mixin image($width, $m_width) {
  width: $width;
  max-width: $m_width;
}
@mixin link($hi) {
  display: block;
  height: $hi;
  text-decoration: none;
}
@mixin inherit {
  color: inherit;
  font-size: inherit;
}
@mixin round {
  border-radius: 50%;
}
@mixin input($hi, $padding) {
  display: block;
  width: 100%;
  height: $hi;
  padding: $padding;
  font-weight: 300;
  color: $color;
  font-size: 1rem;
  background: $yellow;
  border: 1px solid $link;
  box-shadow: none;
  outline: 0;
  resize: none;
}
@mixin smooth($var) {
  transition: all $var linear;
}
@mixin button($width, $hi, $padding, $bg) {
  @include iblock(top);
  width: $width;
  height: $hi;
  padding: $padding;
  font-family: $font;
  font-size: 1.15rem;
  font-weight: 300;
  color: white;
  @include align_c;
  @include upp;
  text-decoration: none;
  line-height: normal;
  background: $bg;
  border: 1px solid transparent;
  border-radius: 0;
  outline: 0;
  @include smooth(.15s);
    span {
      &:not(:last-child) {
        margin-right: 6px;
      }
      &.i {
        vertical-align: middle;
      }
      &.value {
        @include iblock(middle);
      }
    }
}